.elementor-238
  .elementor-element.elementor-element-6ffe4f9:not(.elementor-motion-effects-element-type-background),
.elementor-238
  .elementor-element.elementor-element-6ffe4f9
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("../images/cheerful-smiling-mother-and-little-baby-kid-child-3.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-238
  .elementor-element.elementor-element-6ffe4f9
  > .elementor-background-overlay {
  background-color: #9b989c;
  opacity: 0.5;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-238 .elementor-element.elementor-element-6ffe4f9 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 100px 0px 200px 0px;
}
.elementor-238 .elementor-element.elementor-element-570cd93 {
  text-align: center;
}
.elementor-238
  .elementor-element.elementor-element-570cd93
  .elementor-heading-title {
  color: var(--e-global-color-astglobalcolor5);
  font-family: "dolpino", Sans-serif;
  font-size: 60px;
  font-weight: 700;
}
.elementor-238 .elementor-element.elementor-element-a3e95b8 {
  margin-top: 0px;
  margin-bottom: 100px;
}
.elementor-238 .elementor-element.elementor-element-edfbe79 {
  text-align: center;
}
.elementor-238
  .elementor-element.elementor-element-edfbe79
  .elementor-heading-title {
  color: var(--e-global-color-a1ec886);
  font-family: var(--e-global-typography-primary-font-family), Sans-serif;
  font-weight: var(--e-global-typography-primary-font-weight);
}
.elementor-238 .elementor-element.elementor-element-5740567 {
  text-align: center;
}
.elementor-238
  .elementor-element.elementor-element-5740567
  .elementor-heading-title {
  color: var(--e-global-color-1732037);
  font-family: "dolpino", Sans-serif;
  font-size: 60px;
  font-weight: 700;
}
.elementor-238
  .elementor-element.elementor-element-5740567
  > .elementor-widget-container {
  margin: -20px 0px 0px 0px;
}
.elementor-238
  .elementor-element.elementor-element-5ab3c9b
  > .elementor-container {
  max-width: 1300px;
}
.elementor-238 .elementor-element.elementor-element-7ebbe1e img {
  border-radius: 20px 20px 20px 20px;
}
.elementor-238
  .elementor-element.elementor-element-4c9e8a7
  .elementor-heading-title {
  color: var(--e-global-color-astglobalcolor5);
  font-family: var(--e-global-typography-primary-font-family), Sans-serif;
  font-weight: var(--e-global-typography-primary-font-weight);
}
.elementor-238
  .elementor-element.elementor-element-4c9e8a7
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  padding: 20px 20px 20px 20px;
  background-color: var(--e-global-color-a1ec886);
  background-image: url("../images/pattern.png");
  border-radius: 30px 30px 30px 30px;
}
.elementor-238 .elementor-element.elementor-element-4c9e8a7 {
  width: 100%;
  max-width: 100%;
}
.elementor-238 .elementor-element.elementor-element-45e7e1f {
  text-align: left;
  font-family: "Kids Knowledge", Sans-serif;
  font-size: 18px;
  font-weight: 200;
  width: var(--container-widget-width, 100.106%);
  max-width: 100.106%;
  --container-widget-width: 100.106%;
  --container-widget-flex-grow: 0;
}
.elementor-238
  .elementor-element.elementor-element-45e7e1f
  > .elementor-widget-container {
  margin: 0px 0px -33px 0px;
}
.elementor-238
  .elementor-element.elementor-element-0ee8003
  > .elementor-container {
  max-width: 1300px;
}
.elementor-238 .elementor-element.elementor-element-2cb30f4 img {
  border-radius: 20px 20px 20px 20px;
}
.elementor-238
  .elementor-element.elementor-element-b3b8b3e
  .elementor-heading-title {
  color: var(--e-global-color-astglobalcolor5);
  font-family: var(--e-global-typography-primary-font-family), Sans-serif;
  font-weight: var(--e-global-typography-primary-font-weight);
}
.elementor-238
  .elementor-element.elementor-element-b3b8b3e
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  padding: 20px 20px 20px 20px;
  background-color: var(--e-global-color-a1ec886);
  background-image: url("../images/pattern.png");
  border-radius: 30px 30px 30px 30px;
}
.elementor-238 .elementor-element.elementor-element-b3b8b3e {
  width: 100%;
  max-width: 100%;
}
.elementor-238 .elementor-element.elementor-element-1c27bf8 {
  text-align: left;
  font-family: "Kids Knowledge", Sans-serif;
  font-size: 18px;
  font-weight: 200;
  width: var(--container-widget-width, 100.106%);
  max-width: 100.106%;
  --container-widget-width: 100.106%;
  --container-widget-flex-grow: 0;
}
.elementor-238
  .elementor-element.elementor-element-1c27bf8
  > .elementor-widget-container {
  margin: 0px 0px -33px 0px;
}
.elementor-238
  .elementor-element.elementor-element-cf4669c
  > .elementor-container {
  max-width: 1300px;
}
.elementor-238 .elementor-element.elementor-element-7a3ae6b img {
  border-radius: 20px 20px 20px 20px;
}
.elementor-238
  .elementor-element.elementor-element-e3495e6
  .elementor-heading-title {
  color: var(--e-global-color-astglobalcolor5);
  font-family: var(--e-global-typography-primary-font-family), Sans-serif;
  font-weight: var(--e-global-typography-primary-font-weight);
}
.elementor-238
  .elementor-element.elementor-element-e3495e6
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  padding: 20px 20px 20px 20px;
  background-color: var(--e-global-color-a1ec886);
  background-image: url("../images/pattern.png");
  border-radius: 30px 30px 30px 30px;
}
.elementor-238 .elementor-element.elementor-element-e3495e6 {
  width: 100%;
  max-width: 100%;
}
.elementor-238 .elementor-element.elementor-element-df84bb2 {
  text-align: left;
  font-family: "Kids Knowledge", Sans-serif;
  font-size: 18px;
  font-weight: 200;
}
.elementor-238
  .elementor-element.elementor-element-df84bb2
  > .elementor-widget-container {
  margin: 0px 0px -33px 0px;
}
.elementor-238
  .elementor-element.elementor-element-e3a5e50
  > .elementor-container {
  max-width: 1300px;
}
.elementor-238 .elementor-element.elementor-element-e3a5e50 {
  margin-top: 50px;
  margin-bottom: 0px;
}
.elementor-238 .elementor-element.elementor-element-cea08cb img {
  border-radius: 20px 20px 20px 20px;
}
.elementor-238
  .elementor-element.elementor-element-41a52f0
  .elementor-heading-title {
  color: var(--e-global-color-astglobalcolor5);
  font-family: var(--e-global-typography-primary-font-family), Sans-serif;
  font-weight: var(--e-global-typography-primary-font-weight);
}
.elementor-238
  .elementor-element.elementor-element-41a52f0
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  padding: 20px 20px 20px 20px;
  background-color: var(--e-global-color-a1ec886);
  background-image: url("../images/pattern.png");
  border-radius: 30px 30px 30px 30px;
}
.elementor-238 .elementor-element.elementor-element-41a52f0 {
  width: 100%;
  max-width: 100%;
}
.elementor-238 .elementor-element.elementor-element-5853f80 {
  text-align: left;
  font-family: "Kids Knowledge", Sans-serif;
  font-size: 18px;
  font-weight: 200;
}
.elementor-238
  .elementor-element.elementor-element-5853f80
  > .elementor-widget-container {
  margin: 0px 0px -33px 0px;
}
.elementor-238
  .elementor-element.elementor-element-e6ce5c3
  > .elementor-container {
  max-width: 1300px;
}
.elementor-238 .elementor-element.elementor-element-e6ce5c3 {
  margin-top: 50px;
  margin-bottom: 0px;
}
.elementor-238 .elementor-element.elementor-element-8618252 img {
  border-radius: 20px 20px 20px 20px;
}
.elementor-238
  .elementor-element.elementor-element-9c8b406
  .elementor-heading-title {
  color: var(--e-global-color-astglobalcolor5);
  font-family: var(--e-global-typography-primary-font-family), Sans-serif;
  font-weight: var(--e-global-typography-primary-font-weight);
}
.elementor-238
  .elementor-element.elementor-element-9c8b406
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  padding: 20px 20px 20px 20px;
  background-color: var(--e-global-color-a1ec886);
  background-image: url("../images/pattern.png");
  border-radius: 30px 30px 30px 30px;
}
.elementor-238 .elementor-element.elementor-element-9c8b406 {
  width: 100%;
  max-width: 100%;
}
.elementor-238 .elementor-element.elementor-element-856ef08 {
  text-align: left;
  font-family: "Kids Knowledge", Sans-serif;
  font-size: 18px;
  font-weight: 200;
}
.elementor-238
  .elementor-element.elementor-element-856ef08
  > .elementor-widget-container {
  margin: 0px 0px -33px 0px;
}
.elementor-238
  .elementor-element.elementor-element-a4863cf
  > .elementor-container {
  max-width: 1300px;
}
.elementor-238 .elementor-element.elementor-element-a4863cf {
  margin-top: 50px;
  margin-bottom: 0px;
}
.elementor-238 .elementor-element.elementor-element-3fbf2bd img {
  border-radius: 20px 20px 20px 20px;
}
.elementor-238
  .elementor-element.elementor-element-23d237a
  .elementor-heading-title {
  color: var(--e-global-color-astglobalcolor5);
  font-family: var(--e-global-typography-primary-font-family), Sans-serif;
  font-weight: var(--e-global-typography-primary-font-weight);
}
.elementor-238
  .elementor-element.elementor-element-23d237a
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  padding: 20px 20px 20px 20px;
  background-color: var(--e-global-color-a1ec886);
  background-image: url("../images/pattern.png");
  border-radius: 30px 30px 30px 30px;
}
.elementor-238 .elementor-element.elementor-element-23d237a {
  width: 100%;
  max-width: 100%;
}
.elementor-238 .elementor-element.elementor-element-08078f6 {
  text-align: left;
  font-family: "Kids Knowledge", Sans-serif;
  font-size: 18px;
  font-weight: 200;
}
.elementor-238
  .elementor-element.elementor-element-1865d94
  > .elementor-container {
  max-width: 1300px;
}
.elementor-238 .elementor-element.elementor-element-1865d94 {
  margin-top: 50px;
  margin-bottom: 0px;
}
.elementor-238 .elementor-element.elementor-element-1865bfb img {
  border-radius: 20px 20px 20px 20px;
}
.elementor-238
  .elementor-element.elementor-element-44592a0
  .elementor-heading-title {
  color: var(--e-global-color-astglobalcolor5);
  font-family: var(--e-global-typography-primary-font-family), Sans-serif;
  font-weight: var(--e-global-typography-primary-font-weight);
}
.elementor-238
  .elementor-element.elementor-element-44592a0
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  padding: 20px 20px 20px 20px;
  background-color: var(--e-global-color-a1ec886);
  background-image: url("../images/pattern.png");
  border-radius: 30px 30px 30px 30px;
}
.elementor-238 .elementor-element.elementor-element-44592a0 {
  width: 100%;
  max-width: 100%;
}
.elementor-238 .elementor-element.elementor-element-c9db5bd {
  text-align: left;
  font-family: "Kids Knowledge", Sans-serif;
  font-size: 18px;
  font-weight: 200;
}
.elementor-238
  .elementor-element.elementor-element-c9db5bd
  > .elementor-widget-container {
  margin: 0px 0px -33px 0px;
}
.elementor-238
  .elementor-element.elementor-element-65d770f
  > .elementor-container {
  max-width: 1300px;
}
.elementor-238 .elementor-element.elementor-element-65d770f {
  margin-top: 50px;
  margin-bottom: 0px;
}
.elementor-238 .elementor-element.elementor-element-d09bdbb img {
  border-radius: 20px 20px 20px 20px;
}
.elementor-238
  .elementor-element.elementor-element-40b7426
  .elementor-heading-title {
  color: var(--e-global-color-astglobalcolor5);
  font-family: var(--e-global-typography-primary-font-family), Sans-serif;
  font-weight: var(--e-global-typography-primary-font-weight);
}
.elementor-238
  .elementor-element.elementor-element-40b7426
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  padding: 20px 20px 20px 20px;
  background-color: var(--e-global-color-a1ec886);
  background-image: url("../images/pattern.png");
  border-radius: 30px 30px 30px 30px;
}
.elementor-238 .elementor-element.elementor-element-40b7426 {
  width: 100%;
  max-width: 100%;
}
.elementor-238 .elementor-element.elementor-element-f3df79f {
  text-align: left;
  font-family: "Kids Knowledge", Sans-serif;
  font-size: 18px;
  font-weight: 200;
}
.elementor-238
  .elementor-element.elementor-element-f3df79f
  > .elementor-widget-container {
  margin: 0px 0px -33px 0px;
}
.elementor-238 .elementor-element.elementor-element-469b184 {
  width: auto;
  max-width: auto;
  top: 0px;
}
body:not(.rtl) .elementor-238 .elementor-element.elementor-element-469b184 {
  left: 4%;
}
body.rtl .elementor-238 .elementor-element.elementor-element-469b184 {
  right: 4%;
}
.elementor-238 .elementor-element.elementor-element-5fc5ee2 {
  width: auto;
  max-width: auto;
  bottom: 1%;
}
body:not(.rtl) .elementor-238 .elementor-element.elementor-element-5fc5ee2 {
  right: 4%;
}
body.rtl .elementor-238 .elementor-element.elementor-element-5fc5ee2 {
  left: 4%;
}
.elementor-238 .elementor-element.elementor-element-ba3b5fd {
  width: auto;
  max-width: auto;
  top: 30%;
}
.elementor-238 .elementor-element.elementor-element-7e0344b {
  width: auto;
  max-width: auto;
  top: 70%;
}
body:not(.rtl) .elementor-238 .elementor-element.elementor-element-7e0344b {
  left: 2%;
}
body.rtl .elementor-238 .elementor-element.elementor-element-7e0344b {
  right: 2%;
}
.elementor-238 .elementor-element.elementor-element-0fa3a95 {
  width: auto;
  max-width: auto;
  top: 20%;
}
body:not(.rtl) .elementor-238 .elementor-element.elementor-element-0fa3a95 {
  right: 2%;
}
body.rtl .elementor-238 .elementor-element.elementor-element-0fa3a95 {
  left: 2%;
}
.elementor-238 .elementor-element.elementor-element-472e081 {
  width: auto;
  max-width: auto;
  top: 60%;
}
body:not(.rtl) .elementor-238 .elementor-element.elementor-element-472e081 {
  right: 2%;
}
body.rtl .elementor-238 .elementor-element.elementor-element-472e081 {
  left: 2%;
}
.elementor-238
  .elementor-element.elementor-element-9aa6db5
  > .elementor-container {
  max-width: 1300px;
}
.elementor-238
  .elementor-element.elementor-element-9aa6db5:not(.elementor-motion-effects-element-type-background),
.elementor-238
  .elementor-element.elementor-element-9aa6db5
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-53ee4bb);
  background-image: url("../images/pattern.png");
  background-position: center center;
}
.elementor-238 .elementor-element.elementor-element-9aa6db5 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 200px 0px 200px 0px;
}
.elementor-238
  .elementor-element.elementor-element-9aa6db5
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-238 .elementor-element.elementor-element-9ad4133 {
  text-align: center;
}
.elementor-238
  .elementor-element.elementor-element-9ad4133
  .elementor-heading-title {
  color: var(--e-global-color-astglobalcolor5);
  font-family: var(--e-global-typography-primary-font-family), Sans-serif;
  font-weight: var(--e-global-typography-primary-font-weight);
}
.elementor-238 .elementor-element.elementor-element-da5dcbb {
  text-align: center;
}
.elementor-238
  .elementor-element.elementor-element-da5dcbb
  .elementor-heading-title {
  color: var(--e-global-color-astglobalcolor5);
  font-family: "dolpino", Sans-serif;
  font-size: 45px;
  font-weight: 700;
}
.elementor-238
  .elementor-element.elementor-element-da5dcbb
  > .elementor-widget-container {
  margin: 0px 0px -20px 0px;
}
.elementor-238 .elementor-element.elementor-element-aaebe80 {
  --divider-border-style: curved;
  --divider-color: var(--e-global-color-astglobalcolor5);
  --divider-border-width: 2px;
  --divider-pattern-height: 20px;
  --divider-pattern-size: 20px;
}
.elementor-238
  .elementor-element.elementor-element-aaebe80
  .elementor-divider-separator {
  width: 200px;
  margin: 0 auto;
  margin-center: 0;
}
.elementor-238 .elementor-element.elementor-element-aaebe80 .elementor-divider {
  text-align: center;
  padding-block-start: 2px;
  padding-block-end: 2px;
}
.elementor-238 .elementor-element.elementor-element-98deedb .elementor-button {
  font-family: "dolpino", Sans-serif;
  font-size: 20px;
  font-weight: 700;
  background-color: var(--e-global-color-7164cb6);
  border-radius: 0px 30px 30px 30px;
  padding: 20px 40px 20px 40px;
}
.elementor-238 .elementor-element.elementor-element-11165a2 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 100px;
  margin-bottom: 100px;
}
.elementor-238
  .elementor-element.elementor-element-11165a2
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-238
  .elementor-element.elementor-element-490fe47
  > .elementor-container {
  max-width: 1300px;
}
.elementor-238 .elementor-element.elementor-element-490fe47 {
  margin-top: 0px;
  margin-bottom: 50px;
}
.elementor-238
  .elementor-element.elementor-element-2589c9c
  .elementor-heading-title {
  color: var(--e-global-color-a1ec886);
  font-family: var(--e-global-typography-primary-font-family), Sans-serif;
  font-weight: var(--e-global-typography-primary-font-weight);
}
.elementor-238
  .elementor-element.elementor-element-e4c84a9
  .elementor-heading-title {
  color: var(--e-global-color-1732037);
  font-family: "dolpino", Sans-serif;
  font-size: 60px;
  font-weight: 700;
}
.elementor-238
  .elementor-element.elementor-element-e4c84a9
  > .elementor-widget-container {
  margin: -20px 0px 0px 0px;
}
.elementor-bc-flex-widget
  .elementor-238
  .elementor-element.elementor-element-860bc28.elementor-column
  .elementor-widget-wrap {
  align-items: flex-end;
}
.elementor-238
  .elementor-element.elementor-element-860bc28.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: flex-end;
  align-items: flex-end;
}
.elementor-238 .elementor-element.elementor-element-a447298 .elementor-button {
  font-family: "dolpino", Sans-serif;
  font-size: 18px;
  font-weight: 700;
  background-color: var(--e-global-color-a1ec886);
  border-radius: 0px 30px 30px 30px;
  padding: 20px 40px 20px 40px;
}
.elementor-238
  .elementor-element.elementor-element-eaa32d9
  > .elementor-container {
  max-width: 1300px;
}
.elementor-238
  .elementor-element.elementor-element-2837f7a
  .elementor-posts-container
  .elementor-post__thumbnail {
  padding-bottom: calc(0.66 * 100%);
}
.elementor-238 .elementor-element.elementor-element-2837f7a:after {
  content: "0.66";
}
.elementor-238
  .elementor-element.elementor-element-2837f7a
  .elementor-post__thumbnail__link {
  width: 100%;
}
.elementor-238
  .elementor-element.elementor-element-2837f7a
  .elementor-post__meta-data
  span
  + span:before {
  content: "|";
}
.elementor-238 .elementor-element.elementor-element-2837f7a {
  --grid-column-gap: 30px;
  --grid-row-gap: 35px;
}
.elementor-238 .elementor-element.elementor-element-2837f7a .elementor-post {
  background-color: #ffffff;
}
.elementor-238
  .elementor-element.elementor-element-2837f7a
  .elementor-post__thumbnail {
  border-radius: 20px 20px 20px 20px;
}
.elementor-238
  .elementor-element.elementor-element-2837f7a.elementor-posts--thumbnail-left
  .elementor-post__thumbnail__link {
  margin-right: 20px;
}
.elementor-238
  .elementor-element.elementor-element-2837f7a.elementor-posts--thumbnail-right
  .elementor-post__thumbnail__link {
  margin-left: 20px;
}
.elementor-238
  .elementor-element.elementor-element-2837f7a.elementor-posts--thumbnail-top
  .elementor-post__thumbnail__link {
  margin-bottom: 20px;
}
.elementor-238
  .elementor-element.elementor-element-2837f7a
  .elementor-post__title,
.elementor-238
  .elementor-element.elementor-element-2837f7a
  .elementor-post__title
  a {
  color: var(--e-global-color-1732037);
  font-family: "dolpino", Sans-serif;
  font-size: 25px;
  font-weight: 700;
  text-decoration: none;
}
.elementor-238
  .elementor-element.elementor-element-2837f7a
  .elementor-post__title {
  margin-bottom: 6px;
}
.elementor-238
  .elementor-element.elementor-element-2837f7a
  .elementor-post__meta-data {
  font-family: "Kids Knowledge", Sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}
.elementor-238
  .elementor-element.elementor-element-2837f7a
  .elementor-post__excerpt
  p {
  font-family: "Kids Knowledge", Sans-serif;
  font-size: 18px;
  font-weight: 200;
}
.elementor-238 .elementor-element.elementor-element-521a90d {
  width: auto;
  max-width: auto;
  top: 0px;
}
body:not(.rtl) .elementor-238 .elementor-element.elementor-element-521a90d {
  right: 2%;
}
body.rtl .elementor-238 .elementor-element.elementor-element-521a90d {
  left: 2%;
}
.elementor-238 .elementor-element.elementor-element-259008b {
  width: auto;
  max-width: auto;
  bottom: 3%;
}
body:not(.rtl) .elementor-238 .elementor-element.elementor-element-259008b {
  left: 4%;
}
body.rtl .elementor-238 .elementor-element.elementor-element-259008b {
  right: 4%;
}
@media (max-width: 1024px) {
  .elementor-238
    .elementor-element.elementor-element-6ffe4f9
    > .elementor-shape-bottom
    svg {
    height: 100px;
  }
  .elementor-238 .elementor-element.elementor-element-edfbe79 {
    text-align: center;
  }
  .elementor-238 .elementor-element.elementor-element-5740567 {
    text-align: center;
  }
  .elementor-238 .elementor-element.elementor-element-4c9e8a7 {
    width: 100%;
    max-width: 100%;
  }
  .elementor-238
    .elementor-element.elementor-element-45e7e1f
    > .elementor-widget-container {
    padding: 0px 10px 10px 10px;
  }
  .elementor-238 .elementor-element.elementor-element-b3b8b3e {
    width: 100%;
    max-width: 100%;
  }
  .elementor-238
    .elementor-element.elementor-element-1c27bf8
    > .elementor-widget-container {
    padding: 0px 10px 10px 10px;
  }
  .elementor-238 .elementor-element.elementor-element-e3495e6 {
    width: 100%;
    max-width: 100%;
  }
  .elementor-238
    .elementor-element.elementor-element-df84bb2
    > .elementor-widget-container {
    padding: 0px 10px 10px 10px;
  }
  .elementor-238 .elementor-element.elementor-element-41a52f0 {
    width: 100%;
    max-width: 100%;
  }
  .elementor-238
    .elementor-element.elementor-element-5853f80
    > .elementor-widget-container {
    padding: 0px 10px 10px 10px;
  }
  .elementor-238 .elementor-element.elementor-element-9c8b406 {
    width: 100%;
    max-width: 100%;
  }
  .elementor-238
    .elementor-element.elementor-element-856ef08
    > .elementor-widget-container {
    padding: 0px 10px 10px 10px;
  }
  .elementor-238 .elementor-element.elementor-element-23d237a {
    width: 100%;
    max-width: 100%;
  }
  .elementor-238
    .elementor-element.elementor-element-08078f6
    > .elementor-widget-container {
    padding: 0px 10px 10px 10px;
  }
  .elementor-238 .elementor-element.elementor-element-44592a0 {
    width: 100%;
    max-width: 100%;
  }
  .elementor-238
    .elementor-element.elementor-element-c9db5bd
    > .elementor-widget-container {
    padding: 0px 10px 10px 10px;
  }
  .elementor-238 .elementor-element.elementor-element-40b7426 {
    width: 100%;
    max-width: 100%;
  }
  .elementor-238
    .elementor-element.elementor-element-f3df79f
    > .elementor-widget-container {
    padding: 0px 10px 10px 10px;
  }
  body:not(.rtl) .elementor-238 .elementor-element.elementor-element-469b184 {
    left: 3.561%;
  }
  body.rtl .elementor-238 .elementor-element.elementor-element-469b184 {
    right: 3.561%;
  }
  .elementor-238 .elementor-element.elementor-element-469b184 {
    top: -35px;
  }
  .elementor-238 .elementor-element.elementor-element-ba3b5fd {
    width: var(--container-widget-width, 148px);
    max-width: 148px;
    --container-widget-width: 148px;
    --container-widget-flex-grow: 0;
  }
  .elementor-238 .elementor-element.elementor-element-7e0344b {
    width: var(--container-widget-width, 148px);
    max-width: 148px;
    --container-widget-width: 148px;
    --container-widget-flex-grow: 0;
  }
  .elementor-238 .elementor-element.elementor-element-0fa3a95 {
    width: var(--container-widget-width, 148px);
    max-width: 148px;
    --container-widget-width: 148px;
    --container-widget-flex-grow: 0;
  }
  .elementor-238 .elementor-element.elementor-element-472e081 {
    width: var(--container-widget-width, 148px);
    max-width: 148px;
    --container-widget-width: 148px;
    --container-widget-flex-grow: 0;
  }
  .elementor-238 .elementor-element.elementor-element-9aa6db5 {
    padding: 100px 0px 100px 0px;
  }
  .elementor-238 .elementor-element.elementor-element-2589c9c {
    text-align: left;
  }
  .elementor-238 .elementor-element.elementor-element-e4c84a9 {
    text-align: left;
  }
  .elementor-238 .elementor-element.elementor-element-521a90d {
    top: -35px;
  }
  body:not(.rtl) .elementor-238 .elementor-element.elementor-element-259008b {
    left: 3.561%;
  }
  body.rtl .elementor-238 .elementor-element.elementor-element-259008b {
    right: 3.561%;
  }
}
@media (max-width: 767px) {
  .elementor-238
    .elementor-element.elementor-element-6ffe4f9
    > .elementor-shape-bottom
    svg {
    height: 100px;
  }
  .elementor-238 .elementor-element.elementor-element-6ffe4f9 {
    padding: 100px 0px 130px 0px;
  }
  .elementor-238
    .elementor-element.elementor-element-570cd93
    .elementor-heading-title {
    font-size: 40px;
  }
  .elementor-238 .elementor-element.elementor-element-a3e95b8 {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .elementor-238
    .elementor-element.elementor-element-5740567
    .elementor-heading-title {
    font-size: 30px;
  }
  .elementor-238 .elementor-element.elementor-element-4c9e8a7 {
    text-align: center;
  }
  .elementor-238 .elementor-element.elementor-element-45e7e1f {
    text-align: center;
  }
  .elementor-238 .elementor-element.elementor-element-b3b8b3e {
    text-align: center;
  }
  .elementor-238 .elementor-element.elementor-element-1c27bf8 {
    text-align: center;
  }
  .elementor-238 .elementor-element.elementor-element-e3495e6 {
    text-align: center;
  }
  .elementor-238 .elementor-element.elementor-element-df84bb2 {
    text-align: center;
  }
  .elementor-238 .elementor-element.elementor-element-41a52f0 {
    text-align: center;
  }
  .elementor-238 .elementor-element.elementor-element-5853f80 {
    text-align: center;
  }
  .elementor-238 .elementor-element.elementor-element-9c8b406 {
    text-align: center;
  }
  .elementor-238 .elementor-element.elementor-element-856ef08 {
    text-align: center;
  }
  .elementor-238 .elementor-element.elementor-element-23d237a {
    text-align: center;
  }
  .elementor-238 .elementor-element.elementor-element-08078f6 {
    text-align: center;
  }
  .elementor-238 .elementor-element.elementor-element-44592a0 {
    text-align: center;
  }
  .elementor-238 .elementor-element.elementor-element-c9db5bd {
    text-align: center;
  }
  .elementor-238 .elementor-element.elementor-element-40b7426 {
    text-align: center;
  }
  .elementor-238 .elementor-element.elementor-element-f3df79f {
    text-align: center;
  }
  .elementor-238 .elementor-element.elementor-element-9aa6db5 {
    padding: 70px 0px 70px 0px;
  }
  .elementor-238
    .elementor-element.elementor-element-da5dcbb
    .elementor-heading-title {
    font-size: 30px;
  }
  .elementor-238 .elementor-element.elementor-element-11165a2 {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .elementor-238 .elementor-element.elementor-element-2589c9c {
    text-align: center;
  }
  .elementor-238 .elementor-element.elementor-element-e4c84a9 {
    text-align: center;
  }
  .elementor-238
    .elementor-element.elementor-element-e4c84a9
    .elementor-heading-title {
    font-size: 30px;
  }
  .elementor-238
    .elementor-element.elementor-element-2837f7a
    .elementor-posts-container
    .elementor-post__thumbnail {
    padding-bottom: calc(0.65 * 100%);
  }
  .elementor-238 .elementor-element.elementor-element-2837f7a:after {
    content: "0.65";
  }
  .elementor-238
    .elementor-element.elementor-element-2837f7a
    .elementor-post__thumbnail__link {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .elementor-238 .elementor-element.elementor-element-d6c1e8b {
    width: 25%;
  }
  .elementor-238 .elementor-element.elementor-element-0e7eb86 {
    width: 74.246%;
  }
  .elementor-238 .elementor-element.elementor-element-858a702 {
    width: 25%;
  }
  .elementor-238 .elementor-element.elementor-element-6b22418 {
    width: 74.246%;
  }
  .elementor-238 .elementor-element.elementor-element-edc95f4 {
    width: 25%;
  }
  .elementor-238 .elementor-element.elementor-element-acd6327 {
    width: 74.246%;
  }
  .elementor-238 .elementor-element.elementor-element-76568a4 {
    width: 25%;
  }
  .elementor-238 .elementor-element.elementor-element-0d67f56 {
    width: 74.246%;
  }
  .elementor-238 .elementor-element.elementor-element-f18569b {
    width: 25%;
  }
  .elementor-238 .elementor-element.elementor-element-2823e4b {
    width: 74.246%;
  }
  .elementor-238 .elementor-element.elementor-element-76bd4b1 {
    width: 25%;
  }
  .elementor-238 .elementor-element.elementor-element-ceb26f0 {
    width: 74.246%;
  }
  .elementor-238 .elementor-element.elementor-element-d8c36e2 {
    width: 25%;
  }
  .elementor-238 .elementor-element.elementor-element-583e113 {
    width: 74.246%;
  }
  .elementor-238 .elementor-element.elementor-element-6fd0844 {
    width: 25%;
  }
  .elementor-238 .elementor-element.elementor-element-a1ec6e3 {
    width: 74.246%;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .elementor-238 .elementor-element.elementor-element-d6c1e8b {
    width: 50%;
  }
  .elementor-238 .elementor-element.elementor-element-0e7eb86 {
    width: 50%;
  }
  .elementor-238 .elementor-element.elementor-element-858a702 {
    width: 50%;
  }
  .elementor-238 .elementor-element.elementor-element-6b22418 {
    width: 50%;
  }
  .elementor-238 .elementor-element.elementor-element-edc95f4 {
    width: 50%;
  }
  .elementor-238 .elementor-element.elementor-element-acd6327 {
    width: 50%;
  }
  .elementor-238 .elementor-element.elementor-element-76568a4 {
    width: 50%;
  }
  .elementor-238 .elementor-element.elementor-element-0d67f56 {
    width: 50%;
  }
  .elementor-238 .elementor-element.elementor-element-f18569b {
    width: 50%;
  }
  .elementor-238 .elementor-element.elementor-element-2823e4b {
    width: 50%;
  }
  .elementor-238 .elementor-element.elementor-element-76bd4b1 {
    width: 50%;
  }
  .elementor-238 .elementor-element.elementor-element-ceb26f0 {
    width: 50%;
  }
  .elementor-238 .elementor-element.elementor-element-d8c36e2 {
    width: 50%;
  }
  .elementor-238 .elementor-element.elementor-element-583e113 {
    width: 50%;
  }
  .elementor-238 .elementor-element.elementor-element-6fd0844 {
    width: 50%;
  }
  .elementor-238 .elementor-element.elementor-element-a1ec6e3 {
    width: 50%;
  }
} /* Start custom CSS for image, class: .elementor-element-8618252 */
.elementor-238 .elementor-element.elementor-element-8618252 img {
  object-fit: cover;
  height: 340px;
  object-position: top;
} /* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-3fbf2bd */
.elementor-238 .elementor-element.elementor-element-3fbf2bd img {
  object-fit: cover;
  height: 300px;
  object-position: top;
} /* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-1865bfb */
.elementor-238 .elementor-element.elementor-element-1865bfb img {
  object-fit: cover;
  height: 300px;
  object-position: top;
} /* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-d09bdbb */
.elementor-238 .elementor-element.elementor-element-d09bdbb img {
  object-fit: cover;
  height: 300px;
  object-position: top;
} /* End custom CSS */
/* Start Custom Fonts CSS */
@font-face {
  font-family: "dolpino";
  font-style: normal;
  font-weight: 700;
  font-display: auto;
  src: url("../images/Dolpino.ttf")
    format("truetype");
}
/* End Custom Fonts CSS */
