.elementor-257
  .elementor-element.elementor-element-ef6b192:not(.elementor-motion-effects-element-type-background),
.elementor-257
  .elementor-element.elementor-element-ef6b192
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("../../../../images/cheerful-smiling-mother-and-little-baby-kid-child-2.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-257
  .elementor-element.elementor-element-ef6b192
  > .elementor-background-overlay {
  background-color: #9b989c;
  opacity: 0.5;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-257 .elementor-element.elementor-element-ef6b192 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 100px 0px 200px 0px;
}
.elementor-257 .elementor-element.elementor-element-579c09c {
  text-align: center;
}
.elementor-257
  .elementor-element.elementor-element-579c09c
  .elementor-heading-title {
  color: var(--e-global-color-astglobalcolor5);
  font-family: "dolpino", Sans-serif;
  font-size: 60px;
  font-weight: 700;
}
.elementor-257 .elementor-element.elementor-element-1180815 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 0px 0px 150px 0px;
}
.elementor-257
  .elementor-element.elementor-element-1180815
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-257
  .elementor-element.elementor-element-1180815
  > .elementor-shape-bottom
  .elementor-shape-fill {
  fill: var(--e-global-color-1732037);
}
.elementor-bc-flex-widget
  .elementor-257
  .elementor-element.elementor-element-494cd3d.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-257
  .elementor-element.elementor-element-494cd3d.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-257
  .elementor-element.elementor-element-ab3774d
  > .elementor-container {
  max-width: 1300px;
}
.elementor-257 .elementor-element.elementor-element-6eb0c66 img {
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}
.elementor-257
  .elementor-element.elementor-element-9e5e47a
  .elementor-heading-title {
  color: var(--e-global-color-a1ec886);
  font-family: var(--e-global-typography-primary-font-family), Sans-serif;
  font-weight: var(--e-global-typography-primary-font-weight);
}
.elementor-257
  .elementor-element.elementor-element-185ec94
  .elementor-heading-title {
  color: var(--e-global-color-1732037);
  font-family: "dolpino", Sans-serif;
  font-size: 60px;
  font-weight: 700;
}
.elementor-257
  .elementor-element.elementor-element-185ec94
  > .elementor-widget-container {
  margin: -20px 0px -20px 0px;
}
.elementor-257 .elementor-element.elementor-element-03e8b71 {
  --divider-border-style: curved;
  --divider-color: var(--e-global-color-text);
  --divider-border-width: 2px;
  --divider-pattern-height: 20px;
  --divider-pattern-size: 20px;
}
.elementor-257
  .elementor-element.elementor-element-03e8b71
  .elementor-divider-separator {
  width: 200px;
  margin: 0 auto;
  margin-left: 0;
}
.elementor-257 .elementor-element.elementor-element-03e8b71 .elementor-divider {
  text-align: left;
  padding-block-start: 2px;
  padding-block-end: 2px;
}
.elementor-257 .elementor-element.elementor-element-46d1898 {
  font-family: "Kids Knowledge", Sans-serif;
  font-size: 18px;
  font-weight: 200;
}
.elementor-257
  .elementor-element.elementor-element-46d1898
  > .elementor-widget-container {
  margin: 0px 0px -30px 0px;
}
.elementor-257 .elementor-element.elementor-element-683520b {
  width: auto;
  max-width: auto;
  top: 107px;
}
body:not(.rtl) .elementor-257 .elementor-element.elementor-element-683520b {
  right: 5%;
}
body.rtl .elementor-257 .elementor-element.elementor-element-683520b {
  left: 5%;
}
.elementor-257 .elementor-element.elementor-element-0d27a15 {
  width: auto;
  max-width: auto;
  bottom: -55.676px;
}
body:not(.rtl) .elementor-257 .elementor-element.elementor-element-0d27a15 {
  left: 5.13%;
}
body.rtl .elementor-257 .elementor-element.elementor-element-0d27a15 {
  right: 5.13%;
}
.elementor-257
  .elementor-element.elementor-element-0b78f3e
  > .elementor-container {
  max-width: 1300px;
}
.elementor-257
  .elementor-element.elementor-element-0b78f3e:not(.elementor-motion-effects-element-type-background),
.elementor-257
  .elementor-element.elementor-element-0b78f3e
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-1732037);
  background-image: url("../../../../images/pattern.png");
}
.elementor-257 .elementor-element.elementor-element-0b78f3e {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 50px 0px 150px 0px;
}
.elementor-257
  .elementor-element.elementor-element-0b78f3e
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-257
  .elementor-element.elementor-element-99365f1
  .elementor-counter-number-wrapper {
  color: var(--e-global-color-astglobalcolor5);
  font-family: "dolpino", Sans-serif;
  font-size: 45px;
  font-weight: 700;
}
.elementor-257
  .elementor-element.elementor-element-99365f1
  .elementor-counter-title {
  color: var(--e-global-color-astglobalcolor5);
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-weight: var(--e-global-typography-text-font-weight);
}
.elementor-257
  .elementor-element.elementor-element-f70234b
  .elementor-counter-number-wrapper {
  color: var(--e-global-color-astglobalcolor5);
  font-family: "dolpino", Sans-serif;
  font-size: 45px;
  font-weight: 700;
}
.elementor-257
  .elementor-element.elementor-element-f70234b
  .elementor-counter-title {
  color: var(--e-global-color-astglobalcolor5);
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-weight: var(--e-global-typography-text-font-weight);
}
.elementor-257
  .elementor-element.elementor-element-ef7de88
  .elementor-counter-number-wrapper {
  color: var(--e-global-color-astglobalcolor5);
  font-family: "dolpino", Sans-serif;
  font-size: 45px;
  font-weight: 700;
}
.elementor-257
  .elementor-element.elementor-element-ef7de88
  .elementor-counter-title {
  color: var(--e-global-color-astglobalcolor5);
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-weight: var(--e-global-typography-text-font-weight);
}
.elementor-257
  .elementor-element.elementor-element-3583192
  .elementor-counter-number-wrapper {
  color: var(--e-global-color-astglobalcolor5);
  font-family: "dolpino", Sans-serif;
  font-size: 45px;
  font-weight: 700;
}
.elementor-257
  .elementor-element.elementor-element-3583192
  .elementor-counter-title {
  color: var(--e-global-color-astglobalcolor5);
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-weight: var(--e-global-typography-text-font-weight);
}
.elementor-257 .elementor-element.elementor-element-226bcc4 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 0px 0px 100px 0px;
}
.elementor-257
  .elementor-element.elementor-element-226bcc4
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-bc-flex-widget
  .elementor-257
  .elementor-element.elementor-element-2ad69d3.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-257
  .elementor-element.elementor-element-2ad69d3.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-257
  .elementor-element.elementor-element-f99172a
  > .elementor-container {
  max-width: 1300px;
}
.elementor-257 .elementor-element.elementor-element-773917b img {
  max-width: 62%;
  border-radius: 10px 10px 10px 10px;
}
.elementor-257
  .elementor-element.elementor-element-7e62331
  .elementor-heading-title {
  color: var(--e-global-color-a1ec886);
  font-family: var(--e-global-typography-primary-font-family), Sans-serif;
  font-weight: var(--e-global-typography-primary-font-weight);
}
.elementor-257
  .elementor-element.elementor-element-3856b3a
  .elementor-heading-title {
  color: var(--e-global-color-1732037);
  font-family: "dolpino", Sans-serif;
  font-size: 60px;
  font-weight: 700;
}
.elementor-257
  .elementor-element.elementor-element-3856b3a
  > .elementor-widget-container {
  margin: -20px 0px -20px 0px;
}
.elementor-257 .elementor-element.elementor-element-829ea92 {
  --divider-border-style: curved;
  --divider-color: var(--e-global-color-text);
  --divider-border-width: 2px;
  --divider-pattern-height: 20px;
  --divider-pattern-size: 20px;
}
.elementor-257
  .elementor-element.elementor-element-829ea92
  .elementor-divider-separator {
  width: 200px;
  margin: 0 auto;
  margin-left: 0;
}
.elementor-257 .elementor-element.elementor-element-829ea92 .elementor-divider {
  text-align: left;
  padding-block-start: 2px;
  padding-block-end: 2px;
}
.elementor-257 .elementor-element.elementor-element-51de242 {
  font-family: "Kids Knowledge", Sans-serif;
  font-size: 18px;
  font-weight: 200;
}
.elementor-257
  .elementor-element.elementor-element-51de242
  > .elementor-widget-container {
  margin: 0px 0px -30px 0px;
}
.elementor-257 .elementor-element.elementor-element-150b2e7 {
  width: auto;
  max-width: auto;
  top: 0px;
}
body:not(.rtl) .elementor-257 .elementor-element.elementor-element-150b2e7 {
  left: 4%;
}
body.rtl .elementor-257 .elementor-element.elementor-element-150b2e7 {
  right: 4%;
}
.elementor-257 .elementor-element.elementor-element-16e734a {
  width: auto;
  max-width: auto;
  bottom: 1%;
}
body:not(.rtl) .elementor-257 .elementor-element.elementor-element-16e734a {
  right: 4%;
}
body.rtl .elementor-257 .elementor-element.elementor-element-16e734a {
  left: 4%;
}
.elementor-257
  .elementor-element.elementor-element-fc2b59e
  > .elementor-container {
  max-width: 1300px;
}
.elementor-257
  .elementor-element.elementor-element-fc2b59e:not(.elementor-motion-effects-element-type-background),
.elementor-257
  .elementor-element.elementor-element-fc2b59e
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-53ee4bb);
  background-image: url("../../../../images/pattern.png");
  background-position: center center;
}
.elementor-257 .elementor-element.elementor-element-fc2b59e {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 200px 0px 200px 0px;
}
.elementor-257
  .elementor-element.elementor-element-fc2b59e
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-257 .elementor-element.elementor-element-d5e4ec1 {
  text-align: center;
}
.elementor-257
  .elementor-element.elementor-element-d5e4ec1
  .elementor-heading-title {
  color: var(--e-global-color-astglobalcolor5);
  font-family: var(--e-global-typography-primary-font-family), Sans-serif;
  font-weight: var(--e-global-typography-primary-font-weight);
}
.elementor-257 .elementor-element.elementor-element-d7ea80b {
  text-align: center;
}
.elementor-257
  .elementor-element.elementor-element-d7ea80b
  .elementor-heading-title {
  color: var(--e-global-color-astglobalcolor5);
  font-family: "dolpino", Sans-serif;
  font-size: 45px;
  font-weight: 700;
}
.elementor-257
  .elementor-element.elementor-element-d7ea80b
  > .elementor-widget-container {
  margin: 0px 0px -20px 0px;
}
.elementor-257 .elementor-element.elementor-element-85556b6 {
  --divider-border-style: curved;
  --divider-color: var(--e-global-color-astglobalcolor5);
  --divider-border-width: 2px;
  --divider-pattern-height: 20px;
  --divider-pattern-size: 20px;
}
.elementor-257
  .elementor-element.elementor-element-85556b6
  .elementor-divider-separator {
  width: 200px;
  margin: 0 auto;
  margin-center: 0;
}
.elementor-257 .elementor-element.elementor-element-85556b6 .elementor-divider {
  text-align: center;
  padding-block-start: 2px;
  padding-block-end: 2px;
}
.elementor-257 .elementor-element.elementor-element-f05463e .elementor-button {
  font-family: "dolpino", Sans-serif;
  font-size: 20px;
  font-weight: 700;
  background-color: var(--e-global-color-7164cb6);
  border-radius: 0px 30px 30px 30px;
  padding: 20px 40px 20px 40px;
}
.elementor-257
  .elementor-element.elementor-element-978bf92
  > .elementor-container {
  max-width: 1300px;
}
.elementor-257
  .elementor-element.elementor-element-978bf92:not(.elementor-motion-effects-element-type-background),
.elementor-257
  .elementor-element.elementor-element-978bf92
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-1732037);
  background-image: url("../../../../images/pattern.png");
}
.elementor-257 .elementor-element.elementor-element-978bf92 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 50px 0px 200px 0px;
}
.elementor-257
  .elementor-element.elementor-element-978bf92
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-257
  .elementor-element.elementor-element-978bf92
  > .elementor-shape-bottom
  svg {
  transform: translateX(-50%) rotateY(180deg);
}
.elementor-257 .elementor-element.elementor-element-18cc56f {
  text-align: center;
}
.elementor-257
  .elementor-element.elementor-element-18cc56f
  .elementor-heading-title {
  color: var(--e-global-color-astglobalcolor5);
  font-family: var(--e-global-typography-primary-font-family), Sans-serif;
  font-weight: var(--e-global-typography-primary-font-weight);
}
.elementor-257 .elementor-element.elementor-element-386a97a {
  text-align: center;
}
.elementor-257
  .elementor-element.elementor-element-386a97a
  .elementor-heading-title {
  color: var(--e-global-color-astglobalcolor5);
  font-family: "dolpino", Sans-serif;
  font-size: 60px;
  font-weight: 700;
}
.elementor-257
  .elementor-element.elementor-element-386a97a
  > .elementor-widget-container {
  margin: -20px 0px -20px 0px;
}
.elementor-257 .elementor-element.elementor-element-03dc6a4 {
  --divider-border-style: curved;
  --divider-color: var(--e-global-color-astglobalcolor5);
  --divider-border-width: 2px;
  --divider-pattern-height: 20px;
  --divider-pattern-size: 20px;
}
.elementor-257
  .elementor-element.elementor-element-03dc6a4
  .elementor-divider-separator {
  width: 200px;
  margin: 0 auto;
  margin-center: 0;
}
.elementor-257 .elementor-element.elementor-element-03dc6a4 .elementor-divider {
  text-align: center;
  padding-block-start: 2px;
  padding-block-end: 2px;
}
.elementor-257
  .elementor-element.elementor-element-59a2018
  > .elementor-element-populated,
.elementor-257
  .elementor-element.elementor-element-59a2018
  > .elementor-element-populated
  > .elementor-background-overlay,
.elementor-257
  .elementor-element.elementor-element-59a2018
  > .elementor-background-slideshow {
  border-radius: 10px 10px 10px 10px;
}
.elementor-257
  .elementor-element.elementor-element-59a2018
  > .elementor-element-populated {
  margin: 10px 10px 10px 10px;
  --e-column-margin-right: 10px;
  --e-column-margin-left: 10px;
}
.elementor-257 .elementor-element.elementor-element-33f2ef4 {
  text-align: center;
}
.elementor-257
  .elementor-element.elementor-element-33f2ef4
  .elementor-heading-title {
  color: var(--e-global-color-astglobalcolor5);
  font-family: var(--e-global-typography-primary-font-family), Sans-serif;
  font-weight: var(--e-global-typography-primary-font-weight);
}
.elementor-257
  .elementor-element.elementor-element-e052c84
  > .elementor-element-populated,
.elementor-257
  .elementor-element.elementor-element-e052c84
  > .elementor-element-populated
  > .elementor-background-overlay,
.elementor-257
  .elementor-element.elementor-element-e052c84
  > .elementor-background-slideshow {
  border-radius: 10px 10px 10px 10px;
}
.elementor-257
  .elementor-element.elementor-element-e052c84
  > .elementor-element-populated {
  margin: 10px 10px 10px 10px;
  --e-column-margin-right: 10px;
  --e-column-margin-left: 10px;
}
.elementor-257 .elementor-element.elementor-element-1be8e23 {
  text-align: center;
}
.elementor-257
  .elementor-element.elementor-element-1be8e23
  .elementor-heading-title {
  color: var(--e-global-color-astglobalcolor5);
  font-family: var(--e-global-typography-primary-font-family), Sans-serif;
  font-weight: var(--e-global-typography-primary-font-weight);
}
.elementor-257
  .elementor-element.elementor-element-029ba7f
  > .elementor-element-populated,
.elementor-257
  .elementor-element.elementor-element-029ba7f
  > .elementor-element-populated
  > .elementor-background-overlay,
.elementor-257
  .elementor-element.elementor-element-029ba7f
  > .elementor-background-slideshow {
  border-radius: 10px 10px 10px 10px;
}
.elementor-257
  .elementor-element.elementor-element-029ba7f
  > .elementor-element-populated {
  margin: 10px 10px 10px 10px;
  --e-column-margin-right: 10px;
  --e-column-margin-left: 10px;
}
.elementor-257 .elementor-element.elementor-element-62596e0 {
  text-align: center;
}
.elementor-257
  .elementor-element.elementor-element-62596e0
  .elementor-heading-title {
  color: var(--e-global-color-astglobalcolor5);
  font-family: var(--e-global-typography-primary-font-family), Sans-serif;
  font-weight: var(--e-global-typography-primary-font-weight);
}
.elementor-257
  .elementor-element.elementor-element-4dad5e9
  > .elementor-element-populated,
.elementor-257
  .elementor-element.elementor-element-4dad5e9
  > .elementor-element-populated
  > .elementor-background-overlay,
.elementor-257
  .elementor-element.elementor-element-4dad5e9
  > .elementor-background-slideshow {
  border-radius: 10px 10px 10px 10px;
}
.elementor-257
  .elementor-element.elementor-element-4dad5e9
  > .elementor-element-populated {
  margin: 10px 10px 10px 10px;
  --e-column-margin-right: 10px;
  --e-column-margin-left: 10px;
}
.elementor-257 .elementor-element.elementor-element-7dae485 {
  text-align: center;
}
.elementor-257
  .elementor-element.elementor-element-7dae485
  .elementor-heading-title {
  color: var(--e-global-color-astglobalcolor5);
  font-family: var(--e-global-typography-primary-font-family), Sans-serif;
  font-weight: var(--e-global-typography-primary-font-weight);
}
.elementor-257
  .elementor-element.elementor-element-03eb825
  > .elementor-element-populated,
.elementor-257
  .elementor-element.elementor-element-03eb825
  > .elementor-element-populated
  > .elementor-background-overlay,
.elementor-257
  .elementor-element.elementor-element-03eb825
  > .elementor-background-slideshow {
  border-radius: 10px 10px 10px 10px;
}
.elementor-257
  .elementor-element.elementor-element-03eb825
  > .elementor-element-populated {
  margin: 10px 10px 10px 10px;
  --e-column-margin-right: 10px;
  --e-column-margin-left: 10px;
}
.elementor-257 .elementor-element.elementor-element-f243e3f {
  text-align: center;
}
.elementor-257
  .elementor-element.elementor-element-f243e3f
  .elementor-heading-title {
  color: var(--e-global-color-astglobalcolor5);
  font-family: var(--e-global-typography-primary-font-family), Sans-serif;
  font-weight: var(--e-global-typography-primary-font-weight);
}
.elementor-257
  .elementor-element.elementor-element-ff0e2e0
  > .elementor-element-populated,
.elementor-257
  .elementor-element.elementor-element-ff0e2e0
  > .elementor-element-populated
  > .elementor-background-overlay,
.elementor-257
  .elementor-element.elementor-element-ff0e2e0
  > .elementor-background-slideshow {
  border-radius: 10px 10px 10px 10px;
}
.elementor-257
  .elementor-element.elementor-element-ff0e2e0
  > .elementor-element-populated {
  margin: 10px 10px 10px 10px;
  --e-column-margin-right: 10px;
  --e-column-margin-left: 10px;
}
.elementor-257 .elementor-element.elementor-element-cd8dae5 {
  text-align: center;
}
.elementor-257
  .elementor-element.elementor-element-cd8dae5
  .elementor-heading-title {
  color: var(--e-global-color-astglobalcolor5);
  font-family: var(--e-global-typography-primary-font-family), Sans-serif;
  font-weight: var(--e-global-typography-primary-font-weight);
}
.elementor-257
  .elementor-element.elementor-element-3dfaa5d
  > .elementor-element-populated,
.elementor-257
  .elementor-element.elementor-element-3dfaa5d
  > .elementor-element-populated
  > .elementor-background-overlay,
.elementor-257
  .elementor-element.elementor-element-3dfaa5d
  > .elementor-background-slideshow {
  border-radius: 10px 10px 10px 10px;
}
.elementor-257
  .elementor-element.elementor-element-3dfaa5d
  > .elementor-element-populated {
  margin: 10px 10px 10px 10px;
  --e-column-margin-right: 10px;
  --e-column-margin-left: 10px;
}
.elementor-257 .elementor-element.elementor-element-f1452b9 {
  text-align: center;
}
.elementor-257
  .elementor-element.elementor-element-f1452b9
  .elementor-heading-title {
  color: var(--e-global-color-astglobalcolor5);
  font-family: var(--e-global-typography-primary-font-family), Sans-serif;
  font-weight: var(--e-global-typography-primary-font-weight);
}
.elementor-257
  .elementor-element.elementor-element-7171050
  > .elementor-element-populated,
.elementor-257
  .elementor-element.elementor-element-7171050
  > .elementor-element-populated
  > .elementor-background-overlay,
.elementor-257
  .elementor-element.elementor-element-7171050
  > .elementor-background-slideshow {
  border-radius: 10px 10px 10px 10px;
}
.elementor-257
  .elementor-element.elementor-element-7171050
  > .elementor-element-populated {
  margin: 10px 10px 10px 10px;
  --e-column-margin-right: 10px;
  --e-column-margin-left: 10px;
}
.elementor-257 .elementor-element.elementor-element-2c7db0e {
  text-align: center;
}
.elementor-257
  .elementor-element.elementor-element-2c7db0e
  .elementor-heading-title {
  color: var(--e-global-color-astglobalcolor5);
  font-family: var(--e-global-typography-primary-font-family), Sans-serif;
  font-weight: var(--e-global-typography-primary-font-weight);
}
.elementor-257 .elementor-element.elementor-element-87c08dd {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 100px;
  margin-bottom: 100px;
}
.elementor-257
  .elementor-element.elementor-element-87c08dd
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-257
  .elementor-element.elementor-element-fbb8892
  > .elementor-container {
  max-width: 1300px;
}
.elementor-257 .elementor-element.elementor-element-fbb8892 {
  margin-top: 0px;
  margin-bottom: 50px;
}
.elementor-257
  .elementor-element.elementor-element-a628156
  .elementor-heading-title {
  color: var(--e-global-color-a1ec886);
  font-family: var(--e-global-typography-primary-font-family), Sans-serif;
  font-weight: var(--e-global-typography-primary-font-weight);
}
.elementor-257
  .elementor-element.elementor-element-d474433
  .elementor-heading-title {
  color: var(--e-global-color-1732037);
  font-family: "dolpino", Sans-serif;
  font-size: 60px;
  font-weight: 700;
}
.elementor-257
  .elementor-element.elementor-element-d474433
  > .elementor-widget-container {
  margin: -20px 0px 0px 0px;
}
.elementor-bc-flex-widget
  .elementor-257
  .elementor-element.elementor-element-1438d2c.elementor-column
  .elementor-widget-wrap {
  align-items: flex-end;
}
.elementor-257
  .elementor-element.elementor-element-1438d2c.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: flex-end;
  align-items: flex-end;
}
.elementor-257 .elementor-element.elementor-element-ec5bb45 .elementor-button {
  font-family: "dolpino", Sans-serif;
  font-size: 18px;
  font-weight: 700;
  background-color: var(--e-global-color-a1ec886);
  border-radius: 0px 30px 30px 30px;
  padding: 20px 40px 20px 40px;
}
.elementor-257
  .elementor-element.elementor-element-3918f38
  > .elementor-container {
  max-width: 1300px;
}
.elementor-257
  .elementor-element.elementor-element-26df8d4
  .elementor-posts-container
  .elementor-post__thumbnail {
  padding-bottom: calc(0.66 * 100%);
}
.elementor-257 .elementor-element.elementor-element-26df8d4:after {
  content: "0.66";
}
.elementor-257
  .elementor-element.elementor-element-26df8d4
  .elementor-post__thumbnail__link {
  width: 100%;
}
.elementor-257
  .elementor-element.elementor-element-26df8d4
  .elementor-post__meta-data
  span
  + span:before {
  content: "|";
}
.elementor-257 .elementor-element.elementor-element-26df8d4 {
  --grid-column-gap: 30px;
  --grid-row-gap: 35px;
}
.elementor-257 .elementor-element.elementor-element-26df8d4 .elementor-post {
  background-color: #ffffff;
}
.elementor-257
  .elementor-element.elementor-element-26df8d4
  .elementor-post__thumbnail {
  border-radius: 20px 20px 20px 20px;
}
.elementor-257
  .elementor-element.elementor-element-26df8d4.elementor-posts--thumbnail-left
  .elementor-post__thumbnail__link {
  margin-right: 20px;
}
.elementor-257
  .elementor-element.elementor-element-26df8d4.elementor-posts--thumbnail-right
  .elementor-post__thumbnail__link {
  margin-left: 20px;
}
.elementor-257
  .elementor-element.elementor-element-26df8d4.elementor-posts--thumbnail-top
  .elementor-post__thumbnail__link {
  margin-bottom: 20px;
}
.elementor-257
  .elementor-element.elementor-element-26df8d4
  .elementor-post__title,
.elementor-257
  .elementor-element.elementor-element-26df8d4
  .elementor-post__title
  a {
  color: var(--e-global-color-1732037);
  font-family: "dolpino", Sans-serif;
  font-size: 25px;
  font-weight: 700;
  text-decoration: none;
}
.elementor-257
  .elementor-element.elementor-element-26df8d4
  .elementor-post__title {
  margin-bottom: 6px;
}
.elementor-257
  .elementor-element.elementor-element-26df8d4
  .elementor-post__meta-data {
  font-family: "Kids Knowledge", Sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}
.elementor-257
  .elementor-element.elementor-element-26df8d4
  .elementor-post__excerpt
  p {
  font-family: "Kids Knowledge", Sans-serif;
  font-size: 18px;
  font-weight: 200;
}
.elementor-257 .elementor-element.elementor-element-b96c024 {
  width: auto;
  max-width: auto;
  top: 0px;
}
body:not(.rtl) .elementor-257 .elementor-element.elementor-element-b96c024 {
  right: 2%;
}
body.rtl .elementor-257 .elementor-element.elementor-element-b96c024 {
  left: 2%;
}
.elementor-257 .elementor-element.elementor-element-2e95436 {
  width: auto;
  max-width: auto;
  bottom: 3%;
}
body:not(.rtl) .elementor-257 .elementor-element.elementor-element-2e95436 {
  left: 4%;
}
body.rtl .elementor-257 .elementor-element.elementor-element-2e95436 {
  right: 4%;
}
@media (max-width: 1024px) and (min-width: 768px) {
  .elementor-257 .elementor-element.elementor-element-494cd3d {
    width: 100%;
  }
  .elementor-257 .elementor-element.elementor-element-d04e7bc {
    width: 100%;
  }
  .elementor-257 .elementor-element.elementor-element-fbe5cdc {
    width: 100%;
  }
  .elementor-257 .elementor-element.elementor-element-2ad69d3 {
    width: 100%;
  }
  .elementor-257 .elementor-element.elementor-element-02c86ba {
    width: 100%;
  }
  .elementor-257 .elementor-element.elementor-element-3532401 {
    width: 100%;
  }
}
@media (max-width: 1024px) {
  .elementor-257
    .elementor-element.elementor-element-ef6b192
    > .elementor-shape-bottom
    svg {
    height: 100px;
  }
  .elementor-257 .elementor-element.elementor-element-1180815 {
    padding: 50px 0px 100px 0px;
  }
  .elementor-257 .elementor-element.elementor-element-9e5e47a {
    text-align: center;
  }
  .elementor-257 .elementor-element.elementor-element-185ec94 {
    text-align: center;
  }
  .elementor-257
    .elementor-element.elementor-element-03e8b71
    .elementor-divider {
    text-align: center;
  }
  .elementor-257
    .elementor-element.elementor-element-03e8b71
    .elementor-divider-separator {
    margin: 0 auto;
    margin-center: 0;
  }
  .elementor-257 .elementor-element.elementor-element-46d1898 {
    text-align: center;
  }
  .elementor-257 .elementor-element.elementor-element-0b78f3e {
    padding: 050px 0px 100px 0px;
  }
  .elementor-257 .elementor-element.elementor-element-7e62331 {
    text-align: center;
  }
  .elementor-257 .elementor-element.elementor-element-3856b3a {
    text-align: center;
  }
  .elementor-257
    .elementor-element.elementor-element-829ea92
    .elementor-divider {
    text-align: center;
  }
  .elementor-257
    .elementor-element.elementor-element-829ea92
    .elementor-divider-separator {
    margin: 0 auto;
    margin-center: 0;
  }
  .elementor-257 .elementor-element.elementor-element-51de242 {
    text-align: center;
  }
  body:not(.rtl) .elementor-257 .elementor-element.elementor-element-150b2e7 {
    left: 3.561%;
  }
  body.rtl .elementor-257 .elementor-element.elementor-element-150b2e7 {
    right: 3.561%;
  }
  .elementor-257 .elementor-element.elementor-element-150b2e7 {
    top: -35px;
  }
  .elementor-257 .elementor-element.elementor-element-fc2b59e {
    padding: 100px 0px 100px 0px;
  }
  .elementor-257 .elementor-element.elementor-element-978bf92 {
    padding: 50px 0px 100px 0px;
  }
  .elementor-257 .elementor-element.elementor-element-386a97a {
    text-align: center;
  }
  .elementor-257 .elementor-element.elementor-element-a628156 {
    text-align: left;
  }
  .elementor-257 .elementor-element.elementor-element-d474433 {
    text-align: left;
  }
  .elementor-257 .elementor-element.elementor-element-b96c024 {
    top: -35px;
  }
  body:not(.rtl) .elementor-257 .elementor-element.elementor-element-2e95436 {
    left: 3.561%;
  }
  body.rtl .elementor-257 .elementor-element.elementor-element-2e95436 {
    right: 3.561%;
  }
}
@media (max-width: 767px) {
  .elementor-257
    .elementor-element.elementor-element-ef6b192
    > .elementor-shape-bottom
    svg {
    height: 100px;
  }
  .elementor-257 .elementor-element.elementor-element-ef6b192 {
    padding: 100px 0px 130px 0px;
  }
  .elementor-257
    .elementor-element.elementor-element-579c09c
    .elementor-heading-title {
    font-size: 40px;
  }
  .elementor-257 .elementor-element.elementor-element-1180815 {
    padding: 50px 0px 50px 0px;
  }
  .elementor-257
    .elementor-element.elementor-element-185ec94
    .elementor-heading-title {
    font-size: 30px;
  }
  .elementor-257 .elementor-element.elementor-element-683520b {
    top: 0px;
  }
  .elementor-257 .elementor-element.elementor-element-f2995e4 {
    width: 50%;
  }
  .elementor-257 .elementor-element.elementor-element-71ef681 {
    width: 50%;
  }
  .elementor-257 .elementor-element.elementor-element-0c10f44 {
    width: 50%;
  }
  .elementor-257 .elementor-element.elementor-element-102f58b {
    width: 50%;
  }
  .elementor-257 .elementor-element.elementor-element-226bcc4 {
    padding: 50px 0px 50px 0px;
  }
  .elementor-257
    .elementor-element.elementor-element-3856b3a
    .elementor-heading-title {
    font-size: 30px;
  }
  .elementor-257 .elementor-element.elementor-element-fc2b59e {
    padding: 70px 0px 70px 0px;
  }
  .elementor-257
    .elementor-element.elementor-element-d7ea80b
    .elementor-heading-title {
    font-size: 30px;
  }
  .elementor-257
    .elementor-element.elementor-element-386a97a
    .elementor-heading-title {
    font-size: 30px;
  }
  .elementor-257 .elementor-element.elementor-element-59a2018 {
    width: 50%;
  }
  .elementor-257 .elementor-element.elementor-element-e052c84 {
    width: 50%;
  }
  .elementor-257 .elementor-element.elementor-element-029ba7f {
    width: 50%;
  }
  .elementor-257 .elementor-element.elementor-element-4dad5e9 {
    width: 50%;
  }
  .elementor-257 .elementor-element.elementor-element-03eb825 {
    width: 50%;
  }
  .elementor-257 .elementor-element.elementor-element-ff0e2e0 {
    width: 50%;
  }
  .elementor-257 .elementor-element.elementor-element-3dfaa5d {
    width: 50%;
  }
  .elementor-257 .elementor-element.elementor-element-7171050 {
    width: 50%;
  }
  .elementor-257 .elementor-element.elementor-element-87c08dd {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .elementor-257 .elementor-element.elementor-element-a628156 {
    text-align: center;
  }
  .elementor-257 .elementor-element.elementor-element-d474433 {
    text-align: center;
  }
  .elementor-257
    .elementor-element.elementor-element-d474433
    .elementor-heading-title {
    font-size: 30px;
  }
  .elementor-257
    .elementor-element.elementor-element-26df8d4
    .elementor-posts-container
    .elementor-post__thumbnail {
    padding-bottom: calc(0.65 * 100%);
  }
  .elementor-257 .elementor-element.elementor-element-26df8d4:after {
    content: "0.65";
  }
  .elementor-257
    .elementor-element.elementor-element-26df8d4
    .elementor-post__thumbnail__link {
    width: 100%;
  }
} /* Start custom CSS for image, class: .elementor-element-683520b */
.mli {
  animation: alltuchtopdown 5s infinite;
  -webkit-animation: alltuchtopdown 5s infinite;
}

@keyframes alltuchtopdown {
  0% {
    -webkit-transform: rotateX(0deg) translateY(0px);
    -moz-transform: rotateX(0deg) translateY(0px);
    -ms-transform: rotateX(0deg) translateY(0px);
    -o-transform: rotateX(0deg) translateY(0px);
    transform: rotateX(0deg) translateY(0px);
  }
  50% {
    -webkit-transform: rotateX(0deg) translateY(-20px);
    -moz-transform: rotateX(0deg) translateY(-20px);
    -ms-transform: rotateX(0deg) translateY(-20px);
    -o-transform: rotateX(0deg) translateY(-20px);
    transform: rotateX(0deg) translateY(-20px);
  }
  100% {
    -webkit-transform: rotateX(0deg) translateY(0px);
    -moz-transform: rotateX(0deg) translateY(0px);
    -ms-transform: rotateX(0deg) translateY(0px);
    -o-transform: rotateX(0deg) translateY(0px);
    transform: rotateX(0deg) translateY(0px);
  }
} /* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-0d27a15 */
.mli {
  animation: alltuchtopdown 5s infinite;
  -webkit-animation: alltuchtopdown 5s infinite;
}

@keyframes alltuchtopdown {
  0% {
    -webkit-transform: rotateX(0deg) translateY(0px);
    -moz-transform: rotateX(0deg) translateY(0px);
    -ms-transform: rotateX(0deg) translateY(0px);
    -o-transform: rotateX(0deg) translateY(0px);
    transform: rotateX(0deg) translateY(0px);
  }
  50% {
    -webkit-transform: rotateX(0deg) translateY(-20px);
    -moz-transform: rotateX(0deg) translateY(-20px);
    -ms-transform: rotateX(0deg) translateY(-20px);
    -o-transform: rotateX(0deg) translateY(-20px);
    transform: rotateX(0deg) translateY(-20px);
  }
  100% {
    -webkit-transform: rotateX(0deg) translateY(0px);
    -moz-transform: rotateX(0deg) translateY(0px);
    -ms-transform: rotateX(0deg) translateY(0px);
    -o-transform: rotateX(0deg) translateY(0px);
    transform: rotateX(0deg) translateY(0px);
  }
} /* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-e57a903 */
.se img {
  filter: brightness(0) invert(1);
} /* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-13b559a */
.se img {
  filter: brightness(0) invert(1);
} /* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-0cae0cb */
.se img {
  filter: brightness(0) invert(1);
} /* End custom CSS */
/* Start Custom Fonts CSS */
@font-face {
  font-family: "dolpino";
  font-style: normal;
  font-weight: 700;
  font-display: auto;
  src: url("../../../../images/Dolpino.ttf")
    format("truetype");
}
/* End Custom Fonts CSS */
