.elementor-1049
  .elementor-element.elementor-element-2b3f8d3:not(.elementor-motion-effects-element-type-background),
.elementor-1049
  .elementor-element.elementor-element-2b3f8d3
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("../../../../images/cheerful-smiling-mother-and-little-baby-kid-child-14.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-1049
  .elementor-element.elementor-element-2b3f8d3
  > .elementor-background-overlay {
  background-color: #9b989c;
  opacity: 0.5;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-1049 .elementor-element.elementor-element-2b3f8d3 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 100px 0px 200px 0px;
}
.elementor-1049 .elementor-element.elementor-element-aaf8253 {
  text-align: center;
}
.elementor-1049
  .elementor-element.elementor-element-aaf8253
  .elementor-heading-title {
  color: var(--e-global-color-astglobalcolor5);
  font-family: "dolpino", Sans-serif;
  font-size: 60px;
  font-weight: 700;
}
.elementor-1049
  .elementor-element.elementor-element-886d64d:not(.elementor-motion-effects-element-type-background),
.elementor-1049
  .elementor-element.elementor-element-886d64d
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #f4f4f4;
}
.elementor-1049 .elementor-element.elementor-element-886d64d {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 50px;
  margin-bottom: 0px;
  padding: 100px 0px 0px 0px;
}
.elementor-1049
  .elementor-element.elementor-element-886d64d
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-1049 .elementor-element.elementor-element-3757918 {
  text-align: center;
}
.elementor-1049
  .elementor-element.elementor-element-3757918
  .elementor-heading-title {
  color: var(--e-global-color-a1ec886);
  font-family: "dolpino", Sans-serif;
  font-weight: 700;
  text-transform: capitalize;
}
.elementor-1049 .elementor-element.elementor-element-3877cee {
  text-align: center;
}
.elementor-1049
  .elementor-element.elementor-element-3877cee
  .elementor-heading-title {
  color: var(--e-global-color-1732037);
  font-family: "dolpino", Sans-serif;
  font-size: 60px;
  font-weight: 700;
  text-transform: capitalize;
}
.elementor-1049
  .elementor-element.elementor-element-3877cee
  > .elementor-widget-container {
  margin: -20px 0px -20px 0px;
}
.elementor-1049 .elementor-element.elementor-element-aee551a {
  --divider-border-style: curved;
  --divider-color: var(--e-global-color-text);
  --divider-border-width: 2px;
  --divider-pattern-height: 20px;
  --divider-pattern-size: 20px;
}
.elementor-1049
  .elementor-element.elementor-element-aee551a
  .elementor-divider-separator {
  width: 200px;
  margin: 0 auto;
  margin-center: 0;
}
.elementor-1049
  .elementor-element.elementor-element-aee551a
  .elementor-divider {
  text-align: center;
  padding-block-start: 2px;
  padding-block-end: 2px;
}
.elementor-1049 .elementor-element.elementor-element-de62a22 {
  text-align: center;
  font-family: "Kids Knowledge", Sans-serif;
  font-size: 18px;
  font-weight: 200;
}
.elementor-1049
  .elementor-element.elementor-element-de62a22
  > .elementor-widget-container {
  margin: 0px 0px -30px 0px;
}
.elementor-1049
  .elementor-element.elementor-element-c97f577
  > .elementor-container {
  max-width: 1300px;
}
.elementor-1049
  .elementor-element.elementor-element-c97f577:not(.elementor-motion-effects-element-type-background),
.elementor-1049
  .elementor-element.elementor-element-c97f577
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #f4f4f4;
}
.elementor-1049 .elementor-element.elementor-element-c97f577 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 50px 0px 100px 0px;
}
.elementor-1049
  .elementor-element.elementor-element-c97f577
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-bc-flex-widget
  .elementor-1049
  .elementor-element.elementor-element-22c3cae.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-1049
  .elementor-element.elementor-element-22c3cae.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-1049
  .elementor-element.elementor-element-22c3cae:not(.elementor-motion-effects-element-type-background)
  > .elementor-widget-wrap,
.elementor-1049
  .elementor-element.elementor-element-22c3cae
  > .elementor-widget-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-a1ec886);
}
.elementor-1049
  .elementor-element.elementor-element-22c3cae
  > .elementor-element-populated {
  border-style: dashed;
  border-width: 2px 2px 2px 2px;
  border-color: var(--e-global-color-astglobalcolor5);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 10px 10px 10px 10px;
  --e-column-margin-right: 10px;
  --e-column-margin-left: 10px;
}
.elementor-1049
  .elementor-element.elementor-element-22c3cae
  > .elementor-element-populated,
.elementor-1049
  .elementor-element.elementor-element-22c3cae
  > .elementor-element-populated
  > .elementor-background-overlay,
.elementor-1049
  .elementor-element.elementor-element-22c3cae
  > .elementor-background-slideshow {
  border-radius: 10px 10px 10px 10px;
}
.elementor-1049
  .elementor-element.elementor-element-22c3cae
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-1049 .elementor-element.elementor-element-7ec769d {
  text-align: center;
}
.elementor-1049
  .elementor-element.elementor-element-7ec769d
  .elementor-heading-title {
  color: var(--e-global-color-astglobalcolor5);
  font-family: "dolpino", Sans-serif;
  font-size: 34px;
  font-weight: 100;
}
.elementor-1049
  .elementor-element.elementor-element-7ec769d
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
}
.elementor-bc-flex-widget
  .elementor-1049
  .elementor-element.elementor-element-8e724c7.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-1049
  .elementor-element.elementor-element-8e724c7.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-1049
  .elementor-element.elementor-element-8e724c7:not(.elementor-motion-effects-element-type-background)
  > .elementor-widget-wrap,
.elementor-1049
  .elementor-element.elementor-element-8e724c7
  > .elementor-widget-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-53ee4bb);
}
.elementor-1049
  .elementor-element.elementor-element-8e724c7
  > .elementor-element-populated {
  border-style: dashed;
  border-width: 2px 2px 2px 2px;
  border-color: var(--e-global-color-astglobalcolor5);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 10px 10px 10px 10px;
  --e-column-margin-right: 10px;
  --e-column-margin-left: 10px;
}
.elementor-1049
  .elementor-element.elementor-element-8e724c7
  > .elementor-element-populated,
.elementor-1049
  .elementor-element.elementor-element-8e724c7
  > .elementor-element-populated
  > .elementor-background-overlay,
.elementor-1049
  .elementor-element.elementor-element-8e724c7
  > .elementor-background-slideshow {
  border-radius: 10px 10px 10px 10px;
}
.elementor-1049
  .elementor-element.elementor-element-8e724c7
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-1049 .elementor-element.elementor-element-910bea2 {
  text-align: center;
}
.elementor-1049
  .elementor-element.elementor-element-910bea2
  .elementor-heading-title {
  color: var(--e-global-color-astglobalcolor5);
  font-family: "dolpino", Sans-serif;
  font-size: 34px;
  font-weight: 100;
}
.elementor-1049
  .elementor-element.elementor-element-910bea2
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
}
.elementor-bc-flex-widget
  .elementor-1049
  .elementor-element.elementor-element-705c210.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-1049
  .elementor-element.elementor-element-705c210.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-1049
  .elementor-element.elementor-element-705c210:not(.elementor-motion-effects-element-type-background)
  > .elementor-widget-wrap,
.elementor-1049
  .elementor-element.elementor-element-705c210
  > .elementor-widget-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #4cbfff;
}
.elementor-1049
  .elementor-element.elementor-element-705c210
  > .elementor-element-populated {
  border-style: dashed;
  border-width: 2px 2px 2px 2px;
  border-color: var(--e-global-color-astglobalcolor5);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 10px 10px 10px 10px;
  --e-column-margin-right: 10px;
  --e-column-margin-left: 10px;
}
.elementor-1049
  .elementor-element.elementor-element-705c210
  > .elementor-element-populated,
.elementor-1049
  .elementor-element.elementor-element-705c210
  > .elementor-element-populated
  > .elementor-background-overlay,
.elementor-1049
  .elementor-element.elementor-element-705c210
  > .elementor-background-slideshow {
  border-radius: 10px 10px 10px 10px;
}
.elementor-1049
  .elementor-element.elementor-element-705c210
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-1049 .elementor-element.elementor-element-42d2d0f {
  text-align: center;
}
.elementor-1049
  .elementor-element.elementor-element-42d2d0f
  .elementor-heading-title {
  color: var(--e-global-color-astglobalcolor5);
  font-family: "dolpino", Sans-serif;
  font-size: 34px;
  font-weight: 100;
}
.elementor-1049
  .elementor-element.elementor-element-42d2d0f
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
}
.elementor-bc-flex-widget
  .elementor-1049
  .elementor-element.elementor-element-1643b96.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-1049
  .elementor-element.elementor-element-1643b96.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-1049
  .elementor-element.elementor-element-1643b96:not(.elementor-motion-effects-element-type-background)
  > .elementor-widget-wrap,
.elementor-1049
  .elementor-element.elementor-element-1643b96
  > .elementor-widget-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #95d485;
}
.elementor-1049
  .elementor-element.elementor-element-1643b96
  > .elementor-element-populated {
  border-style: dashed;
  border-width: 2px 2px 2px 2px;
  border-color: var(--e-global-color-astglobalcolor5);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 10px 10px 10px 10px;
  --e-column-margin-right: 10px;
  --e-column-margin-left: 10px;
}
.elementor-1049
  .elementor-element.elementor-element-1643b96
  > .elementor-element-populated,
.elementor-1049
  .elementor-element.elementor-element-1643b96
  > .elementor-element-populated
  > .elementor-background-overlay,
.elementor-1049
  .elementor-element.elementor-element-1643b96
  > .elementor-background-slideshow {
  border-radius: 10px 10px 10px 10px;
}
.elementor-1049
  .elementor-element.elementor-element-1643b96
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-1049 .elementor-element.elementor-element-9bcb11d {
  text-align: center;
}
.elementor-1049
  .elementor-element.elementor-element-9bcb11d
  .elementor-heading-title {
  color: var(--e-global-color-astglobalcolor5);
  font-family: "dolpino", Sans-serif;
  font-size: 34px;
  font-weight: 100;
}
.elementor-1049
  .elementor-element.elementor-element-9bcb11d
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
}
.elementor-1049 .elementor-element.elementor-element-ed8f512 {
  margin-top: 50px;
  margin-bottom: 100px;
}
.elementor-1049 .elementor-element.elementor-element-fe2df57 {
  z-index: 5;
}
.elementor-1049
  .elementor-element.elementor-element-7338d7d
  > .elementor-container {
  max-width: 1300px;
}
.elementor-1049
  .elementor-element.elementor-element-f9a1270
  .elementor-heading-title {
  color: var(--e-global-color-a1ec886);
  font-family: var(--e-global-typography-primary-font-family), Sans-serif;
  font-weight: var(--e-global-typography-primary-font-weight);
}
.elementor-1049
  .elementor-element.elementor-element-8f30491
  .elementor-heading-title {
  color: var(--e-global-color-1732037);
  font-family: "dolpino", Sans-serif;
  font-size: 60px;
  font-weight: 700;
}
.elementor-1049
  .elementor-element.elementor-element-8f30491
  > .elementor-widget-container {
  margin: -20px 0px -20px 0px;
}
.elementor-1049 .elementor-element.elementor-element-efd6b43 {
  --divider-border-style: curved;
  --divider-color: var(--e-global-color-text);
  --divider-border-width: 2px;
  --divider-pattern-height: 20px;
  --divider-pattern-size: 20px;
}
.elementor-1049
  .elementor-element.elementor-element-efd6b43
  .elementor-divider-separator {
  width: 200px;
  margin: 0 auto;
  margin-left: 0;
}
.elementor-1049
  .elementor-element.elementor-element-efd6b43
  .elementor-divider {
  text-align: left;
  padding-block-start: 2px;
  padding-block-end: 2px;
}
.elementor-1049 .elementor-element.elementor-element-854e8be {
  font-family: "Kids Knowledge", Sans-serif;
  font-size: 18px;
  font-weight: 200;
}
.elementor-1049
  .elementor-element.elementor-element-854e8be
  > .elementor-widget-container {
  margin: 0px 0px -30px 0px;
}
.elementor-1049
  .elementor-element.elementor-element-55058d3
  > .elementor-element-populated,
.elementor-1049
  .elementor-element.elementor-element-55058d3
  > .elementor-element-populated
  > .elementor-background-overlay,
.elementor-1049
  .elementor-element.elementor-element-55058d3
  > .elementor-background-slideshow {
  border-radius: 21px 21px 21px 21px;
}
.elementor-1049
  .elementor-element.elementor-element-55058d3
  > .elementor-element-populated {
  box-shadow: 0px 0px 35px -10px rgba(0, 0, 0, 0.1);
  margin: 0px 0px 0px 50px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 50px;
  padding: 50px 50px 50px 50px;
}
.elementor-1049 .elementor-element.elementor-element-2d330a9 {
  width: auto;
  max-width: auto;
  top: 0px;
}
body:not(.rtl) .elementor-1049 .elementor-element.elementor-element-2d330a9 {
  left: 4%;
}
body.rtl .elementor-1049 .elementor-element.elementor-element-2d330a9 {
  right: 4%;
}
.elementor-1049 .elementor-element.elementor-element-6b48465 {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}
.elementor-1049
  .elementor-element.elementor-element-60658de
  > .elementor-element-populated {
  padding: 0px 0px 0px 0px;
}
.elementor-1049 .elementor-element.elementor-element-1ccda42 {
  --spacer-size: 10px;
}
.elementor-1049
  .elementor-element.elementor-element-9d6bd57
  > .elementor-container {
  max-width: 1300px;
}
.elementor-1049
  .elementor-element.elementor-element-9d6bd57:not(.elementor-motion-effects-element-type-background),
.elementor-1049
  .elementor-element.elementor-element-9d6bd57
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-1732037);
  background-image: url("../../../../images/pattern.png");
}
.elementor-1049 .elementor-element.elementor-element-9d6bd57 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 50px 0px 200px 0px;
}
.elementor-1049
  .elementor-element.elementor-element-9d6bd57
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-1049
  .elementor-element.elementor-element-9d6bd57
  > .elementor-shape-bottom
  svg {
  transform: translateX(-50%) rotateY(180deg);
}
.elementor-1049 .elementor-element.elementor-element-e572da3 {
  text-align: center;
}
.elementor-1049
  .elementor-element.elementor-element-e572da3
  .elementor-heading-title {
  color: var(--e-global-color-astglobalcolor5);
  font-family: var(--e-global-typography-primary-font-family), Sans-serif;
  font-weight: var(--e-global-typography-primary-font-weight);
}
.elementor-1049 .elementor-element.elementor-element-1b71913 {
  text-align: center;
}
.elementor-1049
  .elementor-element.elementor-element-1b71913
  .elementor-heading-title {
  color: var(--e-global-color-astglobalcolor5);
  font-family: "dolpino", Sans-serif;
  font-size: 60px;
  font-weight: 700;
}
.elementor-1049
  .elementor-element.elementor-element-1b71913
  > .elementor-widget-container {
  margin: -20px 0px -20px 0px;
}
.elementor-1049 .elementor-element.elementor-element-b7e3bc9 {
  --divider-border-style: curved;
  --divider-color: var(--e-global-color-astglobalcolor5);
  --divider-border-width: 2px;
  --divider-pattern-height: 20px;
  --divider-pattern-size: 20px;
}
.elementor-1049
  .elementor-element.elementor-element-b7e3bc9
  .elementor-divider-separator {
  width: 200px;
  margin: 0 auto;
  margin-center: 0;
}
.elementor-1049
  .elementor-element.elementor-element-b7e3bc9
  .elementor-divider {
  text-align: center;
  padding-block-start: 2px;
  padding-block-end: 2px;
}
.elementor-1049
  .elementor-element.elementor-element-0d92c62
  > .elementor-element-populated,
.elementor-1049
  .elementor-element.elementor-element-0d92c62
  > .elementor-element-populated
  > .elementor-background-overlay,
.elementor-1049
  .elementor-element.elementor-element-0d92c62
  > .elementor-background-slideshow {
  border-radius: 10px 10px 10px 10px;
}
.elementor-1049
  .elementor-element.elementor-element-0d92c62
  > .elementor-element-populated {
  margin: 10px 10px 10px 10px;
  --e-column-margin-right: 10px;
  --e-column-margin-left: 10px;
}
.elementor-1049 .elementor-element.elementor-element-5298a8e {
  text-align: center;
}
.elementor-1049
  .elementor-element.elementor-element-5298a8e
  .elementor-heading-title {
  color: var(--e-global-color-astglobalcolor5);
  font-family: var(--e-global-typography-primary-font-family), Sans-serif;
  font-weight: var(--e-global-typography-primary-font-weight);
}
.elementor-1049
  .elementor-element.elementor-element-daea854
  > .elementor-element-populated,
.elementor-1049
  .elementor-element.elementor-element-daea854
  > .elementor-element-populated
  > .elementor-background-overlay,
.elementor-1049
  .elementor-element.elementor-element-daea854
  > .elementor-background-slideshow {
  border-radius: 10px 10px 10px 10px;
}
.elementor-1049
  .elementor-element.elementor-element-daea854
  > .elementor-element-populated {
  margin: 10px 10px 10px 10px;
  --e-column-margin-right: 10px;
  --e-column-margin-left: 10px;
}
.elementor-1049 .elementor-element.elementor-element-fbe7f0f {
  text-align: center;
}
.elementor-1049
  .elementor-element.elementor-element-fbe7f0f
  .elementor-heading-title {
  color: var(--e-global-color-astglobalcolor5);
  font-family: var(--e-global-typography-primary-font-family), Sans-serif;
  font-weight: var(--e-global-typography-primary-font-weight);
}
.elementor-1049
  .elementor-element.elementor-element-443f7fc
  > .elementor-element-populated,
.elementor-1049
  .elementor-element.elementor-element-443f7fc
  > .elementor-element-populated
  > .elementor-background-overlay,
.elementor-1049
  .elementor-element.elementor-element-443f7fc
  > .elementor-background-slideshow {
  border-radius: 10px 10px 10px 10px;
}
.elementor-1049
  .elementor-element.elementor-element-443f7fc
  > .elementor-element-populated {
  margin: 10px 10px 10px 10px;
  --e-column-margin-right: 10px;
  --e-column-margin-left: 10px;
}
.elementor-1049 .elementor-element.elementor-element-bb59f7a {
  text-align: center;
}
.elementor-1049
  .elementor-element.elementor-element-bb59f7a
  .elementor-heading-title {
  color: var(--e-global-color-astglobalcolor5);
  font-family: var(--e-global-typography-primary-font-family), Sans-serif;
  font-weight: var(--e-global-typography-primary-font-weight);
}
.elementor-1049
  .elementor-element.elementor-element-75e66fc
  > .elementor-element-populated,
.elementor-1049
  .elementor-element.elementor-element-75e66fc
  > .elementor-element-populated
  > .elementor-background-overlay,
.elementor-1049
  .elementor-element.elementor-element-75e66fc
  > .elementor-background-slideshow {
  border-radius: 10px 10px 10px 10px;
}
.elementor-1049
  .elementor-element.elementor-element-75e66fc
  > .elementor-element-populated {
  margin: 10px 10px 10px 10px;
  --e-column-margin-right: 10px;
  --e-column-margin-left: 10px;
}
.elementor-1049 .elementor-element.elementor-element-663b18b {
  text-align: center;
}
.elementor-1049
  .elementor-element.elementor-element-663b18b
  .elementor-heading-title {
  color: var(--e-global-color-astglobalcolor5);
  font-family: var(--e-global-typography-primary-font-family), Sans-serif;
  font-weight: var(--e-global-typography-primary-font-weight);
}
.elementor-1049
  .elementor-element.elementor-element-cd2a2d1
  > .elementor-element-populated,
.elementor-1049
  .elementor-element.elementor-element-cd2a2d1
  > .elementor-element-populated
  > .elementor-background-overlay,
.elementor-1049
  .elementor-element.elementor-element-cd2a2d1
  > .elementor-background-slideshow {
  border-radius: 10px 10px 10px 10px;
}
.elementor-1049
  .elementor-element.elementor-element-cd2a2d1
  > .elementor-element-populated {
  margin: 10px 10px 10px 10px;
  --e-column-margin-right: 10px;
  --e-column-margin-left: 10px;
}
.elementor-1049 .elementor-element.elementor-element-2d2af31 {
  text-align: center;
}
.elementor-1049
  .elementor-element.elementor-element-2d2af31
  .elementor-heading-title {
  color: var(--e-global-color-astglobalcolor5);
  font-family: var(--e-global-typography-primary-font-family), Sans-serif;
  font-weight: var(--e-global-typography-primary-font-weight);
}
.elementor-1049
  .elementor-element.elementor-element-f7cf0f6
  > .elementor-element-populated,
.elementor-1049
  .elementor-element.elementor-element-f7cf0f6
  > .elementor-element-populated
  > .elementor-background-overlay,
.elementor-1049
  .elementor-element.elementor-element-f7cf0f6
  > .elementor-background-slideshow {
  border-radius: 10px 10px 10px 10px;
}
.elementor-1049
  .elementor-element.elementor-element-f7cf0f6
  > .elementor-element-populated {
  margin: 10px 10px 10px 10px;
  --e-column-margin-right: 10px;
  --e-column-margin-left: 10px;
}
.elementor-1049 .elementor-element.elementor-element-6ec9348 {
  text-align: center;
}
.elementor-1049
  .elementor-element.elementor-element-6ec9348
  .elementor-heading-title {
  color: var(--e-global-color-astglobalcolor5);
  font-family: var(--e-global-typography-primary-font-family), Sans-serif;
  font-weight: var(--e-global-typography-primary-font-weight);
}
.elementor-1049
  .elementor-element.elementor-element-0a86f97
  > .elementor-element-populated,
.elementor-1049
  .elementor-element.elementor-element-0a86f97
  > .elementor-element-populated
  > .elementor-background-overlay,
.elementor-1049
  .elementor-element.elementor-element-0a86f97
  > .elementor-background-slideshow {
  border-radius: 10px 10px 10px 10px;
}
.elementor-1049
  .elementor-element.elementor-element-0a86f97
  > .elementor-element-populated {
  margin: 10px 10px 10px 10px;
  --e-column-margin-right: 10px;
  --e-column-margin-left: 10px;
}
.elementor-1049 .elementor-element.elementor-element-8105df5 {
  text-align: center;
}
.elementor-1049
  .elementor-element.elementor-element-8105df5
  .elementor-heading-title {
  color: var(--e-global-color-astglobalcolor5);
  font-family: var(--e-global-typography-primary-font-family), Sans-serif;
  font-weight: var(--e-global-typography-primary-font-weight);
}
.elementor-1049
  .elementor-element.elementor-element-ebd7380
  > .elementor-element-populated,
.elementor-1049
  .elementor-element.elementor-element-ebd7380
  > .elementor-element-populated
  > .elementor-background-overlay,
.elementor-1049
  .elementor-element.elementor-element-ebd7380
  > .elementor-background-slideshow {
  border-radius: 10px 10px 10px 10px;
}
.elementor-1049
  .elementor-element.elementor-element-ebd7380
  > .elementor-element-populated {
  margin: 10px 10px 10px 10px;
  --e-column-margin-right: 10px;
  --e-column-margin-left: 10px;
}
.elementor-1049 .elementor-element.elementor-element-52caef7 {
  text-align: center;
}
.elementor-1049
  .elementor-element.elementor-element-52caef7
  .elementor-heading-title {
  color: var(--e-global-color-astglobalcolor5);
  font-family: var(--e-global-typography-primary-font-family), Sans-serif;
  font-weight: var(--e-global-typography-primary-font-weight);
}
.elementor-1049
  .elementor-element.elementor-element-ed24237
  > .elementor-container {
  max-width: 1300px;
}
.elementor-1049
  .elementor-element.elementor-element-ed24237:not(.elementor-motion-effects-element-type-background),
.elementor-1049
  .elementor-element.elementor-element-ed24237
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-1732037);
  background-image: url("../../../../images/pattern.png");
}
.elementor-1049 .elementor-element.elementor-element-ed24237 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 50px 0px 200px 0px;
}
.elementor-1049
  .elementor-element.elementor-element-ed24237
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-1049
  .elementor-element.elementor-element-1404f74
  .elementor-counter-number-wrapper {
  color: var(--e-global-color-astglobalcolor5);
  font-family: "dolpino", Sans-serif;
  font-size: 45px;
  font-weight: 700;
}
.elementor-1049
  .elementor-element.elementor-element-1404f74
  .elementor-counter-title {
  color: var(--e-global-color-astglobalcolor5);
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-weight: var(--e-global-typography-text-font-weight);
}
.elementor-1049
  .elementor-element.elementor-element-705a665
  .elementor-counter-number-wrapper {
  color: var(--e-global-color-astglobalcolor5);
  font-family: "dolpino", Sans-serif;
  font-size: 45px;
  font-weight: 700;
}
.elementor-1049
  .elementor-element.elementor-element-705a665
  .elementor-counter-title {
  color: var(--e-global-color-astglobalcolor5);
  font-family: "Kids Knowledge", Sans-serif;
  font-weight: 200;
}
.elementor-1049
  .elementor-element.elementor-element-e7e9a0f
  .elementor-counter-number-wrapper {
  color: var(--e-global-color-astglobalcolor5);
  font-family: "dolpino", Sans-serif;
  font-size: 45px;
  font-weight: 700;
}
.elementor-1049
  .elementor-element.elementor-element-e7e9a0f
  .elementor-counter-title {
  color: var(--e-global-color-astglobalcolor5);
  font-family: "Kids Knowledge", Sans-serif;
  font-weight: 200;
}
.elementor-1049
  .elementor-element.elementor-element-4e33c7a
  .elementor-counter-number-wrapper {
  color: var(--e-global-color-astglobalcolor5);
  font-family: "dolpino", Sans-serif;
  font-size: 45px;
  font-weight: 700;
}
.elementor-1049
  .elementor-element.elementor-element-4e33c7a
  .elementor-counter-title {
  color: var(--e-global-color-astglobalcolor5);
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-weight: var(--e-global-typography-text-font-weight);
}
.elementor-1049 .elementor-element.elementor-element-dfb3c48 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 100px 0px 100px 0px;
}
.elementor-1049
  .elementor-element.elementor-element-dfb3c48
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-1049
  .elementor-element.elementor-element-f44a241
  > .elementor-container {
  max-width: 1300px;
}
.elementor-1049 .elementor-element.elementor-element-14bad39 img {
  border-radius: 10px 10px 10px 10px;
}
.elementor-1049
  .elementor-element.elementor-element-14bad39:not(.elementor-widget-image)
  .elementor-widget-container {
  -webkit-mask-image: url(../../../../images/mask-high.svg);
  -webkit-mask-size: contain;
  -webkit-mask-position: center center;
  -webkit-mask-repeat: no-repeat;
}
.elementor-1049
  .elementor-element.elementor-element-14bad39.elementor-widget-image
  .elementor-widget-container
  img {
  -webkit-mask-image: url(../../../../images/mask-high.svg);
  -webkit-mask-size: contain;
  -webkit-mask-position: center center;
  -webkit-mask-repeat: no-repeat;
}
.elementor-1049
  .elementor-element.elementor-element-f7065a9
  .elementor-heading-title {
  color: var(--e-global-color-a1ec886);
  font-family: var(--e-global-typography-primary-font-family), Sans-serif;
  font-weight: var(--e-global-typography-primary-font-weight);
}
.elementor-1049
  .elementor-element.elementor-element-0ad6995
  .elementor-heading-title {
  color: var(--e-global-color-1732037);
  font-family: "dolpino", Sans-serif;
  font-size: 60px;
  font-weight: 700;
}
.elementor-1049
  .elementor-element.elementor-element-0ad6995
  > .elementor-widget-container {
  margin: -20px 0px -20px 0px;
}
.elementor-1049 .elementor-element.elementor-element-ec07ef5 {
  --divider-border-style: curved;
  --divider-color: var(--e-global-color-text);
  --divider-border-width: 2px;
  --divider-pattern-height: 20px;
  --divider-pattern-size: 20px;
}
.elementor-1049
  .elementor-element.elementor-element-ec07ef5
  .elementor-divider-separator {
  width: 200px;
  margin: 0 auto;
  margin-left: 0;
}
.elementor-1049
  .elementor-element.elementor-element-ec07ef5
  .elementor-divider {
  text-align: left;
  padding-block-start: 2px;
  padding-block-end: 2px;
}
.elementor-1049
  .elementor-element.elementor-element-8c46385
  .elementor-accordion-item {
  border-width: 0px;
}
.elementor-1049
  .elementor-element.elementor-element-8c46385
  .elementor-accordion-item
  .elementor-tab-content {
  border-width: 0px;
}
.elementor-1049
  .elementor-element.elementor-element-8c46385
  .elementor-accordion-item
  .elementor-tab-title.elementor-active {
  border-width: 0px;
}
.elementor-1049
  .elementor-element.elementor-element-8c46385
  .elementor-accordion-icon,
.elementor-1049
  .elementor-element.elementor-element-8c46385
  .elementor-accordion-title {
  color: var(--e-global-color-astglobalcolor5);
}
.elementor-1049
  .elementor-element.elementor-element-8c46385
  .elementor-accordion-icon
  svg {
  fill: var(--e-global-color-astglobalcolor5);
}
.elementor-1049
  .elementor-element.elementor-element-8c46385
  .elementor-active
  .elementor-accordion-icon,
.elementor-1049
  .elementor-element.elementor-element-8c46385
  .elementor-active
  .elementor-accordion-title {
  color: var(--e-global-color-astglobalcolor5);
}
.elementor-1049
  .elementor-element.elementor-element-8c46385
  .elementor-active
  .elementor-accordion-icon
  svg {
  fill: var(--e-global-color-astglobalcolor5);
}
.elementor-1049
  .elementor-element.elementor-element-8c46385
  .elementor-accordion-title {
  font-family: "dolpino", Sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
}
.elementor-1049 .elementor-element.elementor-element-ffcb4f2 {
  width: auto;
  max-width: auto;
  bottom: 3%;
}
body:not(.rtl) .elementor-1049 .elementor-element.elementor-element-ffcb4f2 {
  left: 4%;
}
body.rtl .elementor-1049 .elementor-element.elementor-element-ffcb4f2 {
  right: 4%;
}
.elementor-1049 .elementor-element.elementor-element-cb0c7e3 {
  width: auto;
  max-width: auto;
  top: 0px;
}
body:not(.rtl) .elementor-1049 .elementor-element.elementor-element-cb0c7e3 {
  right: 2%;
}
body.rtl .elementor-1049 .elementor-element.elementor-element-cb0c7e3 {
  left: 2%;
}
@media (max-width: 1024px) and (min-width: 768px) {
  .elementor-1049 .elementor-element.elementor-element-22c3cae {
    width: 50%;
  }
  .elementor-1049 .elementor-element.elementor-element-8e724c7 {
    width: 50%;
  }
  .elementor-1049 .elementor-element.elementor-element-705c210 {
    width: 50%;
  }
  .elementor-1049 .elementor-element.elementor-element-1643b96 {
    width: 50%;
  }
  .elementor-1049 .elementor-element.elementor-element-fe2df57 {
    width: 100%;
  }
  .elementor-1049 .elementor-element.elementor-element-a133dcc {
    width: 100%;
  }
  .elementor-1049 .elementor-element.elementor-element-55058d3 {
    width: 100%;
  }
  .elementor-1049 .elementor-element.elementor-element-007b08a {
    width: 100%;
  }
  .elementor-1049 .elementor-element.elementor-element-1f516bc {
    width: 100%;
  }
  .elementor-1049 .elementor-element.elementor-element-94d76c6 {
    width: 100%;
  }
}
@media (max-width: 1024px) {
  .elementor-1049
    .elementor-element.elementor-element-2b3f8d3
    > .elementor-shape-bottom
    svg {
    height: 100px;
  }
  .elementor-1049 .elementor-element.elementor-element-3757918 {
    text-align: center;
  }
  .elementor-1049 .elementor-element.elementor-element-3877cee {
    text-align: center;
  }
  .elementor-1049 .elementor-element.elementor-element-de62a22 {
    text-align: center;
  }
  .elementor-1049 .elementor-element.elementor-element-f9a1270 {
    text-align: center;
  }
  .elementor-1049 .elementor-element.elementor-element-8f30491 {
    text-align: center;
  }
  .elementor-1049
    .elementor-element.elementor-element-efd6b43
    .elementor-divider {
    text-align: center;
  }
  .elementor-1049
    .elementor-element.elementor-element-efd6b43
    .elementor-divider-separator {
    margin: 0 auto;
    margin-center: 0;
  }
  .elementor-1049 .elementor-element.elementor-element-854e8be {
    text-align: center;
  }
  .elementor-1049
    .elementor-element.elementor-element-55058d3
    > .elementor-element-populated {
    margin: 50px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  body:not(.rtl) .elementor-1049 .elementor-element.elementor-element-2d330a9 {
    left: 3.561%;
  }
  body.rtl .elementor-1049 .elementor-element.elementor-element-2d330a9 {
    right: 3.561%;
  }
  .elementor-1049 .elementor-element.elementor-element-2d330a9 {
    top: -35px;
  }
  .elementor-1049 .elementor-element.elementor-element-9d6bd57 {
    padding: 50px 0px 100px 0px;
  }
  .elementor-1049 .elementor-element.elementor-element-1b71913 {
    text-align: center;
  }
  .elementor-1049 .elementor-element.elementor-element-ed24237 {
    padding: 50px 0px 100px 0px;
  }
  .elementor-1049
    .elementor-element.elementor-element-94d76c6
    > .elementor-element-populated {
    margin: 20px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  .elementor-1049 .elementor-element.elementor-element-f7065a9 {
    text-align: center;
  }
  .elementor-1049 .elementor-element.elementor-element-0ad6995 {
    text-align: center;
  }
  .elementor-1049
    .elementor-element.elementor-element-ec07ef5
    .elementor-divider {
    text-align: center;
  }
  .elementor-1049
    .elementor-element.elementor-element-ec07ef5
    .elementor-divider-separator {
    margin: 0 auto;
    margin-center: 0;
  }
  body:not(.rtl) .elementor-1049 .elementor-element.elementor-element-ffcb4f2 {
    left: 3.561%;
  }
  body.rtl .elementor-1049 .elementor-element.elementor-element-ffcb4f2 {
    right: 3.561%;
  }
  .elementor-1049 .elementor-element.elementor-element-cb0c7e3 {
    top: -35px;
  }
}
@media (max-width: 767px) {
  .elementor-1049
    .elementor-element.elementor-element-2b3f8d3
    > .elementor-shape-bottom
    svg {
    height: 100px;
  }
  .elementor-1049 .elementor-element.elementor-element-2b3f8d3 {
    padding: 100px 0px 130px 0px;
  }
  .elementor-1049
    .elementor-element.elementor-element-aaf8253
    .elementor-heading-title {
    font-size: 40px;
  }
  .elementor-1049
    .elementor-element.elementor-element-886d64d
    > .elementor-shape-top
    svg {
    height: 100px;
  }
  .elementor-1049 .elementor-element.elementor-element-886d64d {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 50px 0px 0px 0px;
  }
  .elementor-1049
    .elementor-element.elementor-element-3877cee
    .elementor-heading-title {
    font-size: 30px;
  }
  .elementor-1049 .elementor-element.elementor-element-c97f577 {
    padding: 0px 0px 50px 0px;
  }
  .elementor-1049
    .elementor-element.elementor-element-7ec769d
    .elementor-heading-title {
    font-size: 30px;
  }
  .elementor-1049
    .elementor-element.elementor-element-910bea2
    .elementor-heading-title {
    font-size: 30px;
  }
  .elementor-1049
    .elementor-element.elementor-element-42d2d0f
    .elementor-heading-title {
    font-size: 30px;
  }
  .elementor-1049
    .elementor-element.elementor-element-9bcb11d
    .elementor-heading-title {
    font-size: 30px;
  }
  .elementor-1049
    .elementor-element.elementor-element-8f30491
    .elementor-heading-title {
    font-size: 30px;
  }
  .elementor-1049
    .elementor-element.elementor-element-55058d3
    > .elementor-element-populated {
    padding: 20px 20px 20px 20px;
  }
  .elementor-1049
    .elementor-element.elementor-element-1b71913
    .elementor-heading-title {
    font-size: 30px;
  }
  .elementor-1049 .elementor-element.elementor-element-0d92c62 {
    width: 50%;
  }
  .elementor-1049 .elementor-element.elementor-element-daea854 {
    width: 50%;
  }
  .elementor-1049 .elementor-element.elementor-element-443f7fc {
    width: 50%;
  }
  .elementor-1049 .elementor-element.elementor-element-75e66fc {
    width: 50%;
  }
  .elementor-1049 .elementor-element.elementor-element-cd2a2d1 {
    width: 50%;
  }
  .elementor-1049 .elementor-element.elementor-element-f7cf0f6 {
    width: 50%;
  }
  .elementor-1049 .elementor-element.elementor-element-0a86f97 {
    width: 50%;
  }
  .elementor-1049 .elementor-element.elementor-element-ebd7380 {
    width: 50%;
  }
  .elementor-1049
    .elementor-element.elementor-element-ed24237
    > .elementor-shape-bottom
    svg {
    height: 100px;
  }
  .elementor-1049 .elementor-element.elementor-element-ed24237 {
    padding: 50px 0px 100px 0px;
  }
  .elementor-1049 .elementor-element.elementor-element-be80b50 {
    width: 50%;
  }
  .elementor-1049 .elementor-element.elementor-element-ddd6db8 {
    width: 50%;
  }
  .elementor-1049
    .elementor-element.elementor-element-705a665
    .elementor-counter-title {
    line-height: 1.3em;
  }
  .elementor-1049 .elementor-element.elementor-element-664ced2 {
    width: 50%;
  }
  .elementor-1049
    .elementor-element.elementor-element-e7e9a0f
    .elementor-counter-title {
    line-height: 1.3em;
  }
  .elementor-1049 .elementor-element.elementor-element-8e8c071 {
    width: 50%;
  }
  .elementor-1049 .elementor-element.elementor-element-dfb3c48 {
    padding: 50px 0px 50px 0px;
  }
  .elementor-1049
    .elementor-element.elementor-element-0ad6995
    .elementor-heading-title {
    font-size: 30px;
  }
} /* Start custom CSS for image, class: .elementor-element-2e5b4d1 */
.se img {
  filter: brightness(0) invert(1);
} /* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-6cddf50 */
.se img {
  filter: brightness(0) invert(1);
} /* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-0cbfcec */
.se img {
  filter: brightness(0) invert(1);
} /* End custom CSS */
/* Start custom CSS for accordion, class: .elementor-element-8c46385 */
.av .elementor-tab-title {
  color: white !important;
  background-color: var(--e-global-color-1732037);
  border-radius: 10px;
  box-shadow: 0px 15px 15px -15px rgb(99 178 183 / 40%);
  padding: 20px 35px 20px 35px !important;
  margin-bottom: 20px !important;
}
.av .elementor-tab-title.elementor-active {
  background-color: var(--e-global-color-a1ec886) !important;
} /* End custom CSS */
/* Start Custom Fonts CSS */
@font-face {
  font-family: "dolpino";
  font-style: normal;
  font-weight: 700;
  font-display: auto;
  src: url("../../../../images/Dolpino.ttf")
    format("truetype");
}
/* End Custom Fonts CSS */
